<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>获取用户融云Token页</title>
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/state_code.js"></script>
	</head>
	<body>
	<div style="z-index:1002;display:block" id="hide_show">		
		<div align="center">
			`<button id="show" style="background:pure;height:50px;width:200px">获取用户融云Token：</button><br><br>
			<hr>

			<button id="edit" align="center" style="background:red;height:100px;width:100px">点击获取</button><br><br>
		</div>
		<br><hr>
		<div id="editarea" align="center" style="display:none">
			<hr>
			用户ID：<input type="text" name="user_id" value="" placeholder="请输入数字ID"><br><br>
			用户名：<input type="text" name="user_name" value="" placeholder="请输入用户名"><br><br>
			用户头像：<input type="text" name="user_face" value="http://img.hotyq.com/user/46/456/45646/24054c5d832074a0.png" placeholder="请选择用户头像"><br><br>
			<hr>	
			<input type="button" name="get_token" onclick="return subdata()" value="发送" />
		</div>
			用户Token:<input type="text" name="user_token" value="" style="width:100%"/>
	</body>
		
</html>