/*head*/
body, html {background-attachment: fixed;background-color: #000000;background-image:url(../image/bg.jpg);background-position: center top;background-repeat: no-repeat;color: #FFFFFF;font-size: 12px;width: 100%;overflow-X:hidden; font-family:宋体;}    
.head{width:1434px;background:url(../image/banner.jpg) no-repeat;height: 182px;position:fixed;top:0; left:50%; margin-left:-717px;}
#header{width:1434px;height:182px;margin:0 auto;padding-left:206px;}
#header h1{float:left;}
#header h1 a{width:192px;height:177px;background:url(../image/nolight_h.png) no-repeat;display:block;}
#header h1 a:hover{background:url(../image/light_h.png) no-repeat;}
#header ul{float:left;padding-top:101px;width:604px;height:28px;margin-left:106px;padding-left:103px;position:relative;}
#header ul li{float:left;width:93px;height:28px;}
#header li a{z-index:3;display:block;float:left;width:93px;height:28px;line-height:26px;color:#FFFFFF;font-size:15px;cursor:pointer;text-align:center; text-decoration:none;}
#header li a:hover{ color:#c8c8c8;}
#bg{position:absolute;left:102px;z-index:1;background:url(../image/run_box.png) no-repeat;}
#center{overflow:hidden;height:833px;width:961px;margin:0 auto;padding-top:10px;position:relative;margin-bottom: 10px;}
.cont_show{left:50%;margin-left:-480px;position: absolute;top:179px;z-index:-1;width:961px;}
/*work*/
.work{width:290px;height:235px;overflow:hidden;margin:15px 15px 5px;display:inline;float:left;background:url(../image/zuopin_bg.png) no-repeat;}
.work dt span{position:absolute;left:11px;display:block;width:268px;height:168px;background:#000;overflow:hidden;filter:alpha(opacity:0);opacity:0;}
.work img{width:268px;height:168px;display:block;margin:0 auto;}
.work dt{width:290px;height:191px;padding-top:9px;cursor:move;}
.work dd{height:35px;line-height:35px;font-size:14px;text-align:center;}
.work dd a{color:#fff; text-decoration:none;}
/*foot*/
#footer{position:absolute;top:983px;background:url(../image/footer_bg.png) no-repeat;height:172px;width:1434px;left:50%;margin-left:-717px;}
/*show——zuop*/
#scroll{width:930px;height:100%;overflow:hidden;margin:0 auto;position:relative;}
#scroll ul{position:absolute;top:160px;}
#scroll ul li{float:left; padding:10px;position:absolute;}
#scroll ul li img{width:200px;}
#scrollBar{width:822px;height:18px;position:absolute;top:600px;left:51px;padding:0 10px;z-index:9999;background:url(../image_1/scroll_bg.png) no-repeat;}
#sLeft{width:5px;height:9px;display:block;float:left;margin-top:4px;background:url(../image_1/left_btn.png) no-repeat;}
#scrollWidth{float:left;width:812px;float:left;height:18px;position:relative;}
#scrollBtn{display:block;width:181px;height:14px;margin-top:2px;cursor:pointer;position:absolute;overflow:hidden;background:url(../image_1/scroll_btn.png) no-repeat;}
#sRight{width:5px;height:9px;float:left;margin-top:4px;background:url(../image_1/right_btn.png) no-repeat;}