<!DOCTYPE html>
<html class=no-js>
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>招募合作伙伴 – 红演圈</title>
		<meta name="keywords" content="文化演艺，演艺服务，演员，模特，歌手，舞者，主持人，招募邀约，影视招募，演艺圈，红演圈">
		<meta name="description" content="红演圈 － 中国互联网文化演艺服务第一平台，聚集全国文化演艺人才，提供文化演艺服务信息发布、工作邀约、才艺展示等服务，实名认证、即时沟通、全民演艺！">
		<!---->

		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery.js"></script>
	</head>
	<body>
	 
	{include "common/header.html"} 
	{include "common/nav_search.html"} 	
	 <!-- 主内容栏开始 -->
	<div class="content-wrapper">
        	<!--左边栏内容-->
        	<div class="main-column-a">
            	<div class="lead-title lead-title-bg"><i class="hyq-ic ic-label-mark"></i><label class="Blak1">商务合作</label></div>
                <div class="hyq-channel-info">
                	<h5>赞助合作</h5>
                    <p>"红演圈赞助计划" 旨在通过红演圈的品牌、平台，为合作方提供资金、推广等方面的赞助支持。具体赞助方式如下：<br>
1.为合作方提供资金赞助；<br>
2.为优质活动提供冠名赞助；<br>
3.针对公益活动等意义深远的项目，红演圈免费提供“主题招募”或“广告发布”服务；
                    </p>

                    <h3>委托招募</h3>
                   <p>招募方若因各种原因无法亲自发布招募信息，或有重大招募需求，可委托红演圈发布招募信息。
此外，红演圈网站为重大招募和优质招募预留了“主题招募”版面，主题招募拥有专属模板、高清图片展示、独立栏目等特权，从而使得招募活动位置更突出、受众更广泛、影响面更大、效果更明显。
</p>				<h3>广告发布</h3>
                    <p>红演圈网站开放广告位，提供招募推广、活动宣传及其他相关产品或事件的广告发布服务。通过在红演圈网站醒目位置的广告推广，可迅速、有效地提高招募或活动的影响力，事半功倍。</p>  
                   <h3>艺人推广</h3>
                   <p>“红演圈艺人推广计划”旨在为优秀的艺人提供更优质、更丰富的推广服务，如将艺人信息推送到网站首页展示，或发布到红演圈官方微博、微信等平台进行推介。由此帮助优秀艺人在人海中脱颖而出。<br>本计划需要与经纪公司或艺人组织签署战略合作协议，保证资源真实、有效。红演圈希望与合作方形成长期共赢、互信互惠的伙伴关系。</p>
                   <h3>商务合作通道</h3>
                   <p>QQ：2064489248<br>E-mail：bd@hotyq.com</p>
                    
                    
                </div>
                
          </div>
             <!--右边栏内容-->
            <div class="right-column">
            	<!--Andorid 微信-->

			
				{include "html/about_right_first.html"}
                 <div class="cl"></div>
				 {include "html/about_right_second.html"}
				  <div class="cl"></div>
				  {include "html/about_right_third.html"}
				   <div class="cl"></div>
				<!-- 猜你喜欢 -->
				{include "common/maybe_like_user_right.html"}		
            </div>
        </div>
       
    <!-- 主内容栏结束 -->
	{include "common/footer.html"} 
	</body>
</html>