<!DOCTYPE html>
<html class=no-js>
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>新手答疑 – 红演圈</title>
		<meta name="keywords" content="文化演艺，演艺服务，演员，模特，歌手，舞者，主持人，招募邀约，影视招募，演艺圈，红演圈">
		<meta name="description" content="红演圈 － 中国互联网文化演艺服务第一平台，聚集全国文化演艺人才，提供文化演艺服务信息发布、工作邀约、才艺展示等服务，实名认证、即时沟通、全民演艺！">
		<!---->
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery.js"></script>
	</head>
	<body>
	 
	{include "common/header.html"} 
    {include "common/nav_search.html"} 	
	 <!-- 主内容栏开始 -->
	  <div class="content-wrapper">
        	<!--左边栏内容-->
        	<div class="main-column-a">
            	<div class="lead-title lead-title-bg"><i class="hyq-ic ic-label-mark"></i><label class="Blak1">服务答疑</label></div>
                <div class="hyq-channel-info">
                	<h5>一、账号信息</h5>
                    <h5>1. 红演圈账号如何注册?</h5>
                    <p>1）手机注册<br>
在红演圈首页点击【注册】，选择个人或机构，填写手机号码、密码，点击【获取短信验证码】，然后输入获取的验证码即可注册成功。<br>2）邮箱注册<br>
在红演圈首页点击【注册】，选择个人或机构，填写邮箱地址、密码，然后输入图片上的验证码，即可注册成功。 </p>
					<h3>2. 如何修改登录密码?</h3>
                    <p>红演圈目前提供的修改登录密码的方法有以下2种：<br>
1）在登录状态下，点击【账号设置】，选择【修改密码】，输入自己当前的登录密码，再输入新密码即可。<br>
2）在未登录状态下，点击【忘记密码】 ，输入自己的登录账号（此处为您注册时填写的手机号或者邮箱地址）根据页面提示修改自己的登录密码。</p>
					<h3>3. 如何添加并修改我的联系方式?</h3>
                    <p>在登录状态下，点击【我的红演圈】进入到对应页面，在我的联系方式处点击【修改/添加】按钮可以修改自己的联系方式。<br>
注：报名或者邀约必须发送至少一种联系方式给予对方，以便对方第一时间联系到您。</p>
                    <h3>4. 如何添加并修改自己的红服务?</h3>
                    <p>在登录状态下，点击【我的主页】 到个人资料编辑页面，即可看到【红服务】 一栏，可添加、修改或删除服务。</p>
                    <h3>5. 最多能添加几个自己的红服务?</h3>
                    <p>一个账号下，最多可添加10条红服务，但每条红服务下的细分服务类型数量不限。</p>
                    <h3>6. 最多能添加几个自己的红角色?</h3>
                    <p>一个账号下至少添加一个角色，最多可以添加五种不同的角色。</p>
                    <h3>7. 我的资料怎么更新?</h3>
                    <p>在登录状态下，点击页面右上角的百分比图标，进入资料编辑页，即可编辑您所有的资料，包括基础资料、红形象、红服务、红角色（机构用户没有红角色选项）。</p>
                    <h3>8. 如何提高资料完善度?</h3>
                    <p>1）个人<br>✔&emsp;注册成功……………………5%<br>✔&emsp;填写红名片…………………25%<br>✔&emsp;身份证验证………………… 10%<br>✔&emsp;手机验证………………………10%<br>✔&emsp;邮箱验证……………………… 5%<br>✔&emsp;选择服务……………………… 10%<br>✔&emsp;完善档案……………………（给予年龄、籍贯、学校2%，其他每项1%，上限15%）<br>✔&emsp;上传红形象…………………（每张4%，上限20%）<br>2） 机构<br> ✔&emsp;注册成功……………………30%<br>✔&emsp;身份证或工商验证………10%<br>✔&emsp;手机验证…………………… 10%<br>✔&emsp;邮箱验证………………………5%<br>✔&emsp;选择服务………………………10%<br>✔&emsp;完善档案……………………（给予年龄、籍贯、学校2%，其他每项1%，上限15%）<br>✔&emsp;上传形象照…………………（每张4%，上限20%）
                    </p>
                    <h3>9. 如何增加用户信用?</h3>
                    <p>您通过红演圈官方的邮箱验证、手机验证、身份证验证、工商执照验证等都可以提高用户的信用。</p>
                    <h3>10. 红演圈第三方登录如何绑定我已有的账号?</h3>
                    <p>在使用第三方登录后（QQ\微博），会提示您到一个绑定界面，根据页面提示，选择“您已在红演圈注册过E-mail账号，使用已有账号绑定现在登录的应用” 。</p>
                    <h3>11. 如何确认自己是否通过手机、身份证验证?</h3>
                    <p>在个人主页中，看到对应的手机、身份证图标已经点亮则证明验证通过，验证后会极大的提升您在招募或者被招募过程中的信用度。</p>
                    <h3>12. 红演圈账号如何注销?</h3>
                    <p>目前红演圈账号不支持注销，若您由于以下原因想注销账号，可根据提示进行相应操作：<br>
1）有两个红演圈账号，只想保留一个使用: 请将另一个号的个人资料清空，不再登录即可。<br>
2）红演圈ID号不好，想更换ID号码： ID号由系统随机生成，无法更改，不影响您的正常使用。</p>
                   
						<h3>二、使用技巧</h3>
						<h5>1. 如何进行截图?</h5>
                        <p>网站不自带截图功能，建议您使用PC自带截图功能或QQ等聊天工具的截图功能，进行操作。</p>
                     	<h3>2. 如何发送私信?</h3>
                        <p>在对应的红人主页点击私信按钮，在弹出的窗口中输入您想要说的话即可。对方不一定在线，您可以点击右上角信封图标，进入“我的私信“查收最新收到的消息。</p>
                        <h3>3. 如何报名别人的招募?</h3>
                        <p>点击您中意的招募信息，进入招募详情页，点击自己适合的角色右侧的【报名】按钮，在弹出的对话框中选择服务内容后，点击【确定并发送】即可完成报名。</p>
                        <h3>4. 如何查看我报名的招募?</h3>
                        <p>在登录状态下，点击页面右上角的握手图标，进入【我的工作信息】页面，选择【我报名的招募】即可进入报名信息管理界面，在状态栏中可查报名的招募，以及已报名招募的状态。</p>
                        <h3>5. 如何发布我自己的招募活动?</h3>
                        <p>点击页面上端的飞机图标【发布招募】，在对应的栏目填写相关内容即可发布自己的招募。</p>
                        <h3>6. 发布招募最多能添加几个服务类型?</h3>
                        <p>在发布招募时，您最多可以添加5条服务项目，但每项服务下的细分服务类型数量不限。</p>
                        <h3>7. 如何邀约别人参加我的招募?</h3>
                        <p>进入该红人主页，点击【邀约】按钮，在弹出页面当中选择您所要邀约的事件，发送您的联系方式即可完成邀约。
注：未发布任何招募的用户必须首先发布招募后才可进行邀约。</p>
                        <h3>8. 如何查看已邀约的红人?</h3>
                        <p>在登录状态下，点击页面右上角的握手图标，进入【我的工作信息】页面，选择【我发布的招募】，在右侧【已邀约】竖列中，点击数字，即可查看已邀约红人。</p>
                        <h3>9. 如何查看已报名的红人?</h3>
                        <p>在登录状态下，点击页面右上角的握手图标，进入【我的工作信息】页面，选择【我发布的招募】，在右侧【已报名】竖列中，点击数字，即可查看已报名的红人。</p>
                        <h3>10. 如何收藏我喜欢的红人、机构、招募?</h3>
                        <p>在登录状态下，点击红人头像、机构logo、招募事件到对应的主页，点击【收藏】 按钮，即可收藏您中意的信息。</p>
                        
                        <h3>三、名词解惑</h3>
						<h5>1. 红名片有什么用?</h5>
                        <p>红名片是您填写自己最新资料的地方，让更多的招募方了解并且认识您，同时资料丰富的红名片将可能上红演圈的首页推荐。</p>
                        <h3>2. 如何让自己的搜索排名靠前?</h3>
                        <p>您的资料完善度越高、活跃度越高、照片质量越好，搜索排名越靠前，排名靠前可以让您获得更多曝光机会，在招募与报名中占据先机。</p>
                        <h3>3. 个人和机构有什么区别?</h3>
                        <p>个人和机构在使用红演圈功能与服务上没有任何区别，不同的是所要填写的资料模板与属性不同。</p>
                       
                </div>
                
          </div>
             <!--右边栏内容-->
            <div class="right-column">
            	<!--Andorid 微信-->
			
                 
				{include "html/about_right_first.html"}
                 <div class="cl"></div>
				 {include "html/about_right_second.html"}
				  <div class="cl"></div>
				  {include "html/about_right_third.html"}
				   <div class="cl"></div>
                  <!-- 猜你喜欢 -->
				{include "common/maybe_like_user_right.html"}		
            </div>
        </div>
       
     <!-- 主内容栏结束 -->
	{include "common/footer.html"} 
	</body>
</html>