<!DOCTYPE html>
<html class=no-js>
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title> 关于红演圈 － 红演圈</title>
		<meta name="keywords" content="文化演艺，演艺服务，演员，模特，歌手，舞者，主持人，招募邀约，影视招募，演艺圈，红演圈">
		<meta name="description" content="红演圈 － 中国互联网文化演艺服务第一平台，聚集全国文化演艺人才，提供文化演艺服务信息发布、工作邀约、才艺展示等服务，实名认证、即时沟通、全民演艺！">
		

		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery.js"></script>
	</head>
	<body>
	 
	{include "common/header.html"} 
   {include "common/nav_search.html"} 	
	 <!-- 主内容栏开始 -->
	  <div class="content-wrapper">
        	<!--左边栏内容-->
        	<div class="main-column-a">
            	<div class="lead-title lead-title-bg"><i class="hyq-ic ic-label-mark"></i><label class="Blak1">关于我们</label></div>
                <div class="hyq-channel-info">
                	<p>红演圈是全球首家专业化的演艺服务电子商务平台，业务跨越C2C（个人对个人）、B2C（商家对个人）、C2B（个人对商家）和B2B（商家对商家）四大领域。</p>	
                    <h3>Q1、红演圈是什么？</h3>
                    <p>我们是演艺圈的淘宝天猫，<br>
					   我们是影视界的58赶集，<br>
					   我们是演艺从业者与社会大众沟通和交易的平台。<br>
					   一句话！红演圈——一步踏进演艺圈！
                    </p>
                    <h3>Q2、红演圈里有什么？</h3>
                    <p>我们有影视演员、相声演员、配音演员、舞蹈演员、摇滚歌手、爵士歌手、礼仪模特、婚庆司仪、魔术师、DJ、摄影、摄像、录音、学生艺人、艺人团体。。。。。（艾玛太多了写不下了，你们自己去红演圈的官网看看好不啦！）咳咳（继续认真脸）共9大类别！超过120个职位的演艺相关人才和机构！<br>一句话！我们拥有整个演艺圈！
                    </p>
                    <h3>Q3、红演圈能干什么？</h3>
                    <p>如果你是怀才不遇的艺人，你可以在这里尽情地展现自己的才华，打开通往坦荡星途的大门！<br>
如果你是寻才未果的伯乐，你可以在这里看到无数匹千里马在你眼前疾驰，总有一款适合你！<br>一句话！想找活的在这能找到靠谱的活！想找人的在这能找到靠谱的人！就是这么靠谱！别问我为什么！任性！<br>
而且这些都是免费的！
                    </p>
                    <h4>那么问题来了！我们为啥要做这个冤大头、活雷锋？</h4>
                    <p>因为这个圈水太深！<br>
                      骗子公司、托儿、潜规则、上位、吃回扣！<br>
                      是可忍孰不可忍！<br>
                      而在我们这里，有着完善的评价体系，有权威的实名认证！<br>
                      而且还是免费的！（任性强调）<br>
                      没办法，我们就是这么有情怀、有节操、有理想。<br>
                      信或不信，红演圈就在这里。爱来不来，不来也得来！<br>
                      一句话！红演圈——帮你混好演艺圈！
                    </p>
                   
                </div>
                
          </div>
             <!--右边栏内容-->
            <div class="right-column">
            	<!--Andorid 微信-->
              
                 
				{include "html/about_right_first.html"}
                 <div class="cl"></div>
				 {include "html/about_right_second.html"}
				  <div class="cl"></div>
				  {include "html/about_right_third.html"}
				   <div class="cl"></div>
               <!-- 猜你喜欢 -->
				{include "common/maybe_like_user_right.html"}		
            </div>
        </div>
       
     <!-- 主内容栏结束 -->
	{include "common/footer.html"} 
	</body>
</html>