<!DOCTYPE html>
<html class=no-js>
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>加入红演圈 - 红演圈</title>
		<meta name="keywords" content="文化演艺，演艺服务，演员，模特，歌手，舞者，主持人，招募邀约，影视招募，演艺圈，红演圈">
		<meta name="description" content="红演圈 － 中国互联网文化演艺服务第一平台，聚集全国文化演艺人才，提供文化演艺服务信息发布、工作邀约、才艺展示等服务，实名认证、即时沟通、全民演艺！">
		

		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery.js"></script>
	</head>
	<body>
	 
	{include "common/header.html"} 
	{include "common/nav_search.html"} 
	 <!-- 主内容栏开始 -->
	  <div class="content-wrapper">
        	<!--左边栏内容-->
        	<div class="main-column-a">
            	<div class="lead-title lead-title-bg">
                  <i class="hyq-ic ic-label-mark"></i>
                  <label class="Blak1">加入我们</label>
                </div>
                <div class="hyq-channel-info">
                	<p>提起创业，我们都有些雀跃；<br>
						提起创业，我们都有些忐忑；<br>
						提起创业，我们都有些倔强。<br><br>

						创业的心是疯狂的；<br>
						创业的身是金刚的；<br>
						创业的人是无敌的。<br><br>

						也许你曾经创业受创，<br>
						也许你一直朝九晚五，<br>
						也许你正享受着安逸。<br><br>

						无论你想东山再起，<br>
						还是想要换个活法，<br>
						或是现在的你有那么点跃跃欲试。<br><br>

						我们都欢迎<br>
						欢迎你加入红演圈<br>
						我们一起创一番事业、拼一片晴天吧！</p>
					<h6 style="border-bottom:1px solid #808080; padding-bottom:40px;">如果你有一技之长，就再好不过啦&nbsp;!</h6>
                    <h3 style="border-bottom:1px dotted #808080; padding-bottom:15px;">招聘岗位</h3>
                    <h6>技术类</h6>
                    <h5>Java研发工程师</h5>
                    <p>月薪：12k~22K<br>岗位职责：<br>
                        1. 根据产品需求编写软件设计方案、系统架构和数据库设计；<br>
						2. 编写代码实现服务端功能；<br>
						3. 与产品经理、设计师和客户端开发团队协作完成开发任务。<br>
                        任职资格：<br>
                        1. 本科及以上学历，计算机相关专业；<br> 
                        2. 3年及以上Java项目开发经验，有互联网产品开发经验优先；<br> 
                        3. java基础扎实，规范的编码，了解常用设计模式；<br>
                        4. 熟悉Mysql，web产品构架，了解linux下常规操作。
                     </p>
					<h3>运维工程师</h3>
                    <p>
                    	月薪：10k~20K<br>任职资格：<br>
                        1. 本科及以上学历，计算机相关专业；<br>
                        2. 3年及以上服务端运维经验；<br>
                        3. 至少熟练掌握一种主流的开发语言：Java、PHP、Perl、Python、Unix Shell ... <br>
                        4. 熟悉Linux (CentOS)系统及各种运维工作中用到的命令；<br>
						5. 熟悉MySQL、Nginx、Tomcat、Redis等常用环境的配置方法，并了解相关调优方法；<br>
						6. 学习能力强，沟通协作意识良好。<br>
						工作职责<br>
						1.  维护公司线上业务系统稳定运行，收集和分析系统性能指标，定期对提高系统 可用性提出建议；<br>
						2.  通过编写脚本工具，将维护工作自动化；<br>
						3.  处理系统异常故障，保障7*24小时业务连续性；制定备份策略，并定验证；<br>
						4. 上线发布业务系统代码,并进行压力测试；<br>
						5. 开发和维护监控报警系统、自动构建工具等运维工具。<br>
                    </p>
                    <h3>测试工程师</h3>
                    <p>
                    	月薪：6k~10K<br>岗位描述：<br>
                        1. 根据产品需求进行功能及部分性能测试；<br>
                        2. 设计并编写测试用例，根据测试用例执行相关阶段的测试工作；<br>
                        3. 对发现的问题及时跟进，积极与开发人员沟通并推进问题解决；<br>
                        4. 根据测试结果编写测试报告，并能提出对产品有效的改进方案。<br>
                        5.有良好的沟通、表达、项目分析能力，设计能力、团队合作精神。<br>
						任职资格：<br>
						1. 能完成测试用例编写、执行；<br>
						2. 接受能力强，有较好的需求理解能力和良好的沟通能力；<br>
						3. 对测试技术感兴趣，愿意学习，做事积极主动；<br>
						4. 工作细致认真，有耐心，能够胜任重复性工作；<br>
						5. 计算机软件相关专业本科以上者优先；<br>
						6. 有一个项目以上的测试工作经验者优先。
                    </p>
                   <!--<h3>WEB前端工程师</h3>
                    <p>
                    	岗位职责：<br>
                    1. 负责定义公司所有产品视觉样式，包括iOS版、Android版、Web产品；<br>
                    2. 和开发人员一起打造一致的、愉悦的、优雅的产品视觉体验。<br>
                    任职要求：<br>
                    1. 熟悉web页面设计，布局与流程;<br>
                    2. 精通Javascript，精通HTML5、CSS，能熟练运用DIV+CSS来制作符合w3c规范的页面;<br>
                    3. 熟悉各主流浏览器兼容特性、响应式设计;<br>
                    4. 熟悉DOM、JS、Ajax等前端开发技术及框架（如jquery等）。良好的html代码重构能力，能不断对优化代码以符合网站的要求;<br>
                    5. 工作认真负责耐心细致，能适应较强的工作压力，具备良好的沟通能力和团队精神;<br>
                    6. 对设计标准和开发规范有较高自我要求，良好的审美观和大局感，注重细节。
                    </p>-->
                    <h6>产品类</h6>
                    <h5>网站产品经理</h5>
                    <p>月薪：8k~15K<br>岗位职责：<br>
						1. 负责网站相关产品策划；<br>
						2. 独立完成产品原型、逻辑和流程设计，并制作prd文档；<br>
						3. 配合其他部门完成界面UI设计和产品的开发和测试工作；<br>
						4. 跟踪所负责产品的核心数据，进行效果分析，持续完善和优化现有功能；<br>
						5. 分析行业及竞品产品，跟踪最新发展趋势，竞争对手调研。<br>
						岗位要求：<br>
						1. 2年以上产品经验，有电商交易、支付及服务流程设计经验者优先；<br>
						2. 具有良好的视觉审美能力，熟悉Axure、MindManager、VISIO、PPT等产品设计工具；<br>
						3. 有完整产品项目经验，从初期规划到产品落地，对产品有系统的理解；<br>
						4. 有结果导向意识，具有很强的执行能力和资源协调能力，积极乐观推动项目进度；<br>
						5. 具有行业敏感性，对互联网新产品保持关注，并能从中发现潜在的市场和发展方向，并能给出整体方案。
					</p>
					<h3>移动产品经理</h3>
                    <p>
						月薪：8k~15K<br>
						岗位职责：<br>
						1. 负责移动端产品策划；<br>
						2. 独立完成产品原型、逻辑和交互流程设计，并制作prd文档；<br>
						3. 根据Android和IOS系统特性针对性优化产品和原型；<br>
						4. 配合其他部门完成界面UI设计和产品的开发和测试工作；<br>
						5. 跟踪所负责产品的核心数据，进行效果分析，持续完善和优化现有功能；<br>
						6. 分析行业及竞品产品，跟踪最新发展趋势，竞争对手调研。<br>
						岗位要求：<br>
						1. 2年以上移动产品经验；<br>
						2. 智能机深度使用者，同时熟悉Android和iOS系统，习惯把玩各种各样的APP；<br>
						3. 熟悉Axure、Justinmind、MindManager、VISIO、PPT等产品设计工具；<br>
						4. 有完整产品项目经验，从初期规划到产品落地，对产品有系统的理解；<br>
						5. 有结果导向意识，具有很强的执行能力和资源协调能力，积极乐观推动项目进度；<br>
						6. 实用主义、关注细节、头脑灵活、吃苦耐劳、经得起折腾者优先；<br>
						7. 具有行业敏感性，对互联网新产品保持关注，并能从中发现潜在的市场和发展方向，并能给出整体方案。
                    </p>
                    <h3>数据产品经理</h3>
                    <p>
                    	月薪：8k~15K<br>
						岗位职责：<br>
						1. 负责整体产品数据运营工作；<br>
						2. 针对现有产品进行用户行为数据进行统计、分析和挖掘，定期输出数据分析报告，并基于此提出产品优化方案；<br>
						3. 设计数据统计后台，监控数据的正确性；<br>
						4. 挖掘公司平台数据产品需求，以产品的视角组织数据，为产品和市场提供基于数据的分析和建议；<br>
						5. 熟悉各大统计平台，负责网站产品SEO优化，统计分析App产品不同分发平台数据；<br>
						分析行业及竞品产品，跟踪最新发展趋势，竞争对手调研。<br>
						岗位要求：<br>
						1. 3年以上数据产品经验，有文化娱乐相关行业经验优先；<br>
						2. 了解大数据存储、计算的常用技术；对日志生成系统有了解；<br>
						3. 实用主义、关注细节、头脑灵活、吃苦耐劳、经得起折腾者优先；<br>
						4. 了解常见的运营指标及意义，熟悉常用的数据挖掘方法，包括分类、聚类、关联规则等；<br>
						5. 熟练掌握网站以及app的流量跟踪。
                    </p>
                     <h6>运营类</h6>
                    <h5>市场助理（应届毕业生）</h5>
                    <p>
                    	月薪：2000元<br>
						岗位职责：<br>
						协助市场总监进行网站内容材料编辑上传及发布，线上线下市场活动推广等。 <br>
						任职要求：<br>
						1. 2015年应届毕业生，专业不限，愿意从事市场运营推广工作；<br>
						2. 从4月中旬开始实习，能保证每周实习4天以上；<br>
						3. 实习表现良好者毕业后直接转为正式员工。
                    </p>
                    <!--<h3>市场推广</h3>
                    <p>
                    	岗位职责：<br>
                        1.负责互娱旗下相关重点产品相关线下活动的策划、管理和协调；<br>
                        2.负责督导公司推广项目的落实与反馈；<br>
                        3.负责相关重点产品和项目的片区商务拓展协调；<br>
                        4.完成相关日常工作的梳理和汇报。<br>
                        任职要求：<br>
                        1.责任心强，具备良好的沟通能力及基础数据分析能力；<br>
                        2.较好的语言和文字表达能力，较强的学习和理解能力；<br>
                        3.耐心细致，同理心强，抗压力强，能承受繁琐的细节工作；<br>
                        4.熟练使用OFFICE、MM等相关办公软件。
                   	</p>
                    <h3>渠道管理</h3>
                    <p>
                    	岗位职责：<br>
                      1.开拓互联网、移动产品推广渠道，并利用渠道推广；<br>
                      2.负责对推广渠道的管理并进行效果跟踪，分析与改善；<br>
                      3.对运营数据进行监测和分析，提出运营优化，并能根据市场变化制定和调整后续运营计划；<br>
                      4.负责业务推广营销工作，包括推广内容策划及执行计划等；<br>
                      5.对推广及活动的各环节进行效果跟踪、分析与改善。<br>
                      任职要求：<br>
                      1.熟悉互联网，由其对移动互联网用户行为模型熟悉，对内容敏感；<br>
                      2.耐心细致，文笔好，热爱文字工作，擅长总结和整理；
                    </p>
                    <h3>媒介公关</h3>
                    <p>
                    	岗位职责：<br>
                      1.负责联络、拓展及维护媒体关系及合作机构关系，进行媒体资源整合和维护；<br>
                      2.根据公司的发展产品能选择合适的广告媒体投放和监测工作；<br>
                      3.负责媒介部门的日常事务，处理公司的对外关系；<br>
                      4.负责媒体广告的跟进，关系维护，洽谈等业务。<br> 
                      任职资格：<br>
                      1.熟悉媒体、广告相关行业；<br>
                      2.具有很强的计划能力和应变能力，优秀的人际交往和协调能力，良好的社会活动能力；<br>
                      3.性格开朗，善于沟通，对工作认真负责。
                    </p>
                    <h3>文案编辑</h3>
                    <p>
                    	岗位职责：<br>
                        1.负责网站相关栏目/频道的信息搜集、编辑、审校等工作；<br>
                        2.完成信息内容的策划和日常更新与维护； <br>
                        3.编写网站宣传资料及相关产品资料；<br>
                        4.收集、研究和处理网络读者的意见和反馈信息；<br> 
                        5.配合责任编辑组织策划推广活动，并参与执行；<br> 
                        6.协助完成频道管理与栏目的发展规划，促进网站知名度的提高；<br> 
                        7.加强与内部相关部门和组织外部的沟通与协作。<br>
                        任职资格：<br>
                        1.熟练操作常用的网页制作软件和网络搜索工具，了解网站开发、运行及维护的相关知识；<br>
                        2.了解图片编辑软件dreamweaver、photoshop等工具；<br>
                        3.良好的文字功底，较强的网站专题策划和信息采编能力；<br>
                        4.较高的职业素养、敬业精神及团队精神，擅于沟通。
                    </p>
                    <h3>数据管理</h3>
                    <p>
                    	岗位职责：<br>
                        1.建立数据平台管理运营数据<br>
                        2.建立量化的门店运营评价体系<br>
                        3.具备门店运营质效的监控能力<br>
                        任职要求：<br>
                        1.精通基本法设置与现场管理<br>
                        2.具备优秀的数字分析能力者。
                    </p>
                    <h3>客服代表</h3>
                    <p>
                    	岗位职责：<br>
                      1.负责接听用户的咨询、投诉、建议，确保信息传递的准确性和及时性，保证客户的满意度；<br>
                      2.准确记录用户信息，按照规定的流程、标准正确记录用户的需求和建议；<br>
                      3.根据用户需求，进行有效的产品推广，并协助业务部门进行产品策划与用户体验调查。<br>
                      任职要求：<br>
                      1.声音甜美，普通话标准，打字速度快；<br>
                      2.具备基础的计算机知识，能熟练操作办公自动化软件；<br>
                      3.对工作热情、耐心、主动，逻辑思维能力、沟通能力强；<br>
                      4.有较强的集体荣誉感及团队协作精神，工作认真负责，善于发现工作上的问题并能提出改进意见。

                    </p>-->
                    <p style="padding:50px 0px; text-align:right;">前情提要：有意者请发送简历至hr@hotyq.com</p>
                </div>
                
          </div>
             <!--右边栏内容-->
            <div class="right-column">
            	<!--Andorid 微信-->
                 
				{include "html/about_right_first.html"}
                 <div class="cl"></div>
				 {include "html/about_right_second.html"}
				  <div class="cl"></div>
				  {include "html/about_right_third.html"}
				   <div class="cl"></div>
               <!-- 猜你喜欢 -->
				{include "common/maybe_like_user_right.html"}		
            </div>
        </div>
       
     <!-- 主内容栏结束 -->
	{include "common/footer.html"} 
	</body>
</html>