<!DOCTYPE html>
<html class=no-js>
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>玩转红演圈 – 红演圈 </title>
		<meta name="keywords" content="文化演艺，演艺服务，演员，模特，歌手，舞者，主持人，招募邀约，影视招募，演艺圈，红演圈">
		<meta name="description" content="红演圈 － 中国互联网文化演艺服务第一平台，聚集全国文化演艺人才，提供文化演艺服务信息发布、工作邀约、才艺展示等服务，实名认证、即时沟通、全民演艺！">
		

		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery.js"></script>		
	</head>
	<body class="hyq-play-well">
	{include "common/header.html"} 
	{include "common/nav_search.html"} 		 
	 <!-- 主内容栏开始 -->
	  <div class="content-wrapper">
        	<!--左边栏内容-->
        	<div class="main-column-a">
            	<div class="lead-title lead-title-bg">
                    <i class="hyq-ic ic-label-mark"></i>
                    <label class="Blak1">玩转红演圈</label>
                </div>
                <div class="play-well-wrap">
                	<!--选项卡-->
                     <ul class="hyq-tabs">
                        <li class="hyq-tab active">
                          <a href="#play-introduce"></a>
                          <span>简介</span>
                        </li>
                        <li class="hyq-tab">
                          <a href="#play-strategy"></a>
                          <span>攻略</span>
                        </li>
              
     			   </ul>
    				 <div class="hyq-tab-content" >
                     	<!--简介-->
                        <div class="hyq-tab-pane" id="play-introduce">
                         	<div class="play-title">
                            	<em>1</em><span>欢迎来到红演圈</span>
                            </div>
                            <div class="play-box">
                            	<p class="txt-css">欢迎来到红演圈。这是一个专为普通百姓、民营企业、影视公司、传媒机构、公关公司等与演员、模特、歌手等演艺人才提供在线沟通、招募服务的互联网对接平台。</p>
                                <img src="http://icon.hotyq.com/v2/info/play-change.jpg">
                            </div>
                            <div class="play-title">
                            	<em>2</em><span>角色类别</span>
                            </div>
                            <div class="play-box">
                            	<p class="txt-css">在红演圈，角色被定义为九大类别，分别是演员、模特、主持人、歌手、舞者、综艺、幕后、学生、机构团体。</p>
                                <ul>
                                	<li>
                                    	<img src="http://icon.hotyq.com/v2/info/info-act-head-b.png">
                                        <p>演员</p>
                                    </li>
                                    <li>
                                    	<img src="http://icon.hotyq.com/v2/info/info-model-head-b.png">
                                        <p>模特</p>
                                    </li>
                                    <li>
                                    	<img src="http://icon.hotyq.com/v2/info/info-host-head-b.png">
                                        <p>主持人</p>
                                    </li>
                                    <li>
                                    	<img src="http://icon.hotyq.com/v2/info/info-singer-head-b.png">
                                        <p>歌手</p>
                                    </li>
                                    <li>
                                    	<img src="http://icon.hotyq.com/v2/info/info-dancer-head-b.png">
                                        <p>舞者</p>
                                    </li>
                                    <li>
                                    	<img src="http://icon.hotyq.com/v2/info/info-zy-head-b.png">
                                        <p>综艺</p>
                                    </li>
                                    <li>
                                    	<img src="http://icon.hotyq.com/v2/info/info-mh-head-b.png">
                                        <p>幕后</p>
                                    </li>
                                    <li>
                                    	<img src="http://icon.hotyq.com/v2/info/info-stu-head-b.png">
                                        <p>学生</p>
                                    </li>
                                    <li>
                                    	<img src="http://icon.hotyq.com/v2/info/info-org-head-b.png">
                                        <p>机构团体</p>
                                    </li>
                                </ul>
                                	
                                </ul>
                            </div>
                            <div class="cl"></div>
                            <div class="play-title">
                            	<em>3</em><span>招募需求</span>
                            </div>
                            <div class="play-box">
                            	<p class="txt-css">在红演圈，满足至少<span style="color:#ff3300;">20</span>个类别的招募需求。</p>
                                <img src="http://icon.hotyq.com/v2/info/hyq-demand.jpg">
                            </div>
                            <div class="play-title">
                            	<em>4</em><span>演艺圈特色</span>
                            </div>
                            <div class="play-box">
                            	<p class="txt-css">在红演圈，我们为用户配备了个人主页、信用验证、发布招募、私信、邀约、报名、搜索、筛选、收藏、个人信息管理等多项功能。提醒您，虽然我们是免费的，但只有注册用户才可以使用哦！</p>
                                <img src="http://icon.hotyq.com/v2/info/hyq-feature.jpg">
                            </div>
                            <div class="play-title">
                            	<em>5</em><span>平台</span>
                            </div>
                            <div class="play-box">
                            	<p class="txt-css">在红演圈，我们为您准备了三个版本，PC版、安卓版与苹果版，满足用户随时随地与红人互动！
</p>
                                <img src="http://icon.hotyq.com/v2/info/hyq-platform.jpg">
                            </div>
                        </div>  
                        <!--攻略-->
                        <div class="hyq-tab-pane" id="play-strategy">
                         	<div class="play-title">
                            	<em>1</em><span>注册与登陆</span>
                            </div>
                            <div class="play-box">
                            	<p class="txt-css2">任何人来到红演圈，都可以浏览红演圈网站上的人才与招募信息。但如果想展示自己，或者想和中意的人才、招募方进行沟通与对接的话，需要先成为注册用户哦。</p>
                               
                            </div>
                            <div class="play-title">
                            	<em>2</em><span>注册</span>
                            </div>
                            <div class="play-box">
                                <img src="http://icon.hotyq.com/v2/info/str-register.jpg">
                            </div>
                            <div class="play-title">
                            	<em>3</em><span>填写红名片</span>
                            </div>
                            <div class="play-box">
                                <img src="http://icon.hotyq.com/v2/info/str-reds.jpg">
                            </div>
                            <div class="play-title">
                            	<em>4</em><span>完善资料，提升等级，获得更高曝光率</span>
                            </div>
                            <div class="play-box">
                            	<p class="txt-css2">要想成为红演圈的“红人”，获得招募方或者人才的青睐，仅注册账号还不够，尽快丰富完善资料才靠谱。红演圈网站为用户提供了红名片、红照片、红角色、红标签、红档案等独具特色的用户展示功能，根据功能提示，几分钟时间就可以完成漂亮的红人主页。
								</p>
                                <h3>4.1 红名片</h3>
                                <p class="txt-css2">红名片包含了艺人的基本信息，是对外展示的最基本资料。其中红演圈设置了身份验证功能虽然不是必填资料，但全面的身份验证会极大地提升招募信任度。</p>
                                <img src="http://icon.hotyq.com/v2/info/str-reds-card.jpg">
                                <img src="http://icon.hotyq.com/v2/info/str-reds-card2.jpg">
                               
                                <h3>4.2 如何上传红照片</h3>
                                <p class="txt-css2">照片是演艺人才对外展示最为重要的内容。所以一定要上传最有特色且清晰的美照。包括生活照、剧照、演出照、艺术照、私房照等。</p>
                                <img src="http://icon.hotyq.com/v2/info/str-reds-card3.jpg">
                                <img src="http://icon.hotyq.com/v2/info/str-reds-card4.jpg">
                                <h3>4.3 如何添加标签？</h3>
                                <p class="txt-css2">准确定义你的才艺及爱好标签，会极大提升招募匹配度，获得更多机会。例如“会有合作方找会打高尔夫的女歌手”。</p>
                                <img src="http://icon.hotyq.com/v2/info/str-reds-label1.jpg">
                                <img src="http://icon.hotyq.com/v2/info/str-reds-label2.jpg">
                                <img src="http://icon.hotyq.com/v2/info/str-reds-label3.jpg">
                                <h3>4.4 如何添加角色？</h3>
                                <p class="txt-css2">详细定义你的角色会极大提升招募匹配度，获得更多机会。</p>
                                <img src="http://icon.hotyq.com/v2/info/str-reds-role1.jpg">
                                <img src="http://icon.hotyq.com/v2/info/str-reds-role2.jpg">
                                <img src="http://icon.hotyq.com/v2/info/str-reds-role3.jpg">
                                <h3>4.5 如何丰富资料？</h3>
                                <p class="txt-css2">完整填写个人资料，会极大提升招募匹配度，获得更多机会。例如会有找募方直接按照三围、身高、星座来匹配所需人才。</p>
                                <img src="http://icon.hotyq.com/v2/info/str-reds-info1.jpg">
                                <img src="http://icon.hotyq.com/v2/info/str-reds-info2.jpg">
                                <img src="http://icon.hotyq.com/v2/info/str-reds-info3.jpg">
                                
                            </div>
                            <h4>机构模块和个人模块基本相同，请参考操作</h4>
                            <div class="play-title">
                            	<em>5</em><span>发布招募</span>
                            </div>
                            <div class="play-box">
                            	
                                <p class="txt-css3" >想要发布招募，首先要注册成为红演圈的用户哦！</p>
                                 <p class="txt-css2">填写招募信息时务必把相关信息填写真实准确，这样可以大大增加招募的成功率，同时如果配上几张精美的宣传图还可能收获意想不到的效果！</p>
                                <img src="http://icon.hotyq.com/v2/info/str-recruit-r.jpg">
                            </div>
                            <div class="play-title">
                            	<em>6</em><span>私信</span>
                            </div>
                            <div class="play-box">
                                <p class="txt-css3" >想要沟通就私信TA</p>
                                <p class="txt-css2">看到有意向的红人或者合作机构却联系不到怎么办？红演圈为用户配备了私信功能。</p>
                                <img src="http://icon.hotyq.com/v2/info/str-message.jpg">       
                            </div>
                            <div class="play-title">
                            	<em>7</em><span>查看私信</span>
                            </div>
                            <div class="play-box">
                                <img src="http://icon.hotyq.com/v2/info/str-message-read.jpg">       
                            </div>
                            <div class="play-title">
                            	<em>8</em><span>邀约</span>
                            </div>
                            <div class="play-box">
                                <p class="txt-css3" >喜欢TA就邀约TA！</p>
                                <p class="txt-css2">看到符合招募的红人？那就赶紧邀约吧~可能迟一秒就被别人抢走了哦！</p>
                                <img src="http://icon.hotyq.com/v2/info/str-invite.jpg">  
                                <img src="http://icon.hotyq.com/v2/info/str-invite2.jpg">      
                            </div>
                            <div class="play-title">
                            	<em>9</em><span>报名</span>
                            </div>
                            <div class="play-box">
                                <p class="txt-css3">看到招募~眼疾手快</p>
                                <p class="txt-css2">发现适合自己的招募不要迟疑，晚一点可能被别人捷足先登咯！</p>
                                <img src="http://icon.hotyq.com/v2/info/str-sign-1.jpg">  
                                <img src="http://icon.hotyq.com/v2/info/str-sign-2.jpg">      
                            </div>
                            <div class="play-title">
                            	<em>10</em><span>搜索</span>
                            </div>
                            <div class="play-box">
                                <p class="txt-css3">只有你想不到，没有你搜不到！</p>
                                <p class="txt-css2">在搜索框输入你想要查找的关键词即可！例如北京、上海等地域词，我们这可是精确到县级市的哦~例如模特等角色词，舞蹈、唱歌等标签词，日语、韩语等技能词，28、29等身高、胸围数字词，北影、中戏等院校词。。。是不是已经等不急了？开搜吧~</p>
                                <img src="http://icon.hotyq.com/v2/info/str-search.jpg">  
                                     
                            </div>
                            <div class="play-title">
                            	<em>11</em><span>筛选</span>
                            </div>
                            <div class="play-box">
                                <p class="txt-css3">筛出你的最爱，选出最合适的TA！</p>
                                <p class="txt-css2">你是想找“会打高尔夫球能喝酒会开车的22岁左右女电影演员” 还是“北京市朝阳区一天内招聘女电影演员”的招募事件，红演圈为用户提供了多条件筛选功能模块，点击不同的属性内容，就可以筛选出更精准的结果。</p>
                                <img src="http://icon.hotyq.com/v2/info/str-filter.jpg">  
                                     
                            </div>
                            <div class="play-title">
                            	<em>12</em><span>信用</span>
                            </div>
                            <div class="play-box">
                                <p class="txt-css3">提升信用级别~获得更多关注</p>
                                <p class="txt-css2" style="padding-bottom:0px;">你是否曾担心TA的信息真假难辨？你是否曾担心TA的招募难探虚实？
在红演圈，我们倡导实名认证，营造诚信环境！</p>
								<p class="txt-css2">如何提升信用级别？<br>
                                  1、完成各项验证<br>
                                  2、提交更详细资料，获得红演圈官方认证（加V）
                                 </p>

                                <i class="hyq-ic ic-mailbox-lg-muted"></i>
                                <i class="hyq-ic ic-pinfo-lg-muted"></i>
                                <i class="hyq-ic ic-cinfo-lg-muted" style="margin-right:0px;"></i>
                                <i class="hyq-ic ic-mobile-lg-muted"></i>
                                     
                            </div>
                            <div class="play-title">
                            	<em>13</em><span>等级</span>
                            </div>
                            <div class="play-box">
                                <p class="txt-css3">等级太低？没人理你？</p>
                                <p class="txt-css2">不用再担心因等级太低而没有人理你了，在红演圈你可以通过填写红名片、上传照片、完善资料、验证身份、收藏TA、邀约TA、日常登录等等N多方式来提升等级。</p>
                                <em class="user-level" alt="红演圈会员级别" title="红演圈会员级别">Lv.99</em>
                             </div>
                             <div class="cl"></div>
                             <div class="play-title">
                            	<em>14</em><span>个人管理中心</span>
                            </div>
                            <div class="play-box">
                                <p class="txt-css2">个人管理中心是红演圈提供给用户进行私信、邀约、收藏、报名以及账号设置的后台。登录后点击页面右上角就可以进入个人管理中心。</p>
                                <img src="http://icon.hotyq.com/v2/info/str-manage1.jpg">  
                                <img src="http://icon.hotyq.com/v2/info/str-manage2.jpg">
                             </div>
                             <div class="play-title">
                            	<em>15</em><span>发布的招募</span>
                            </div>
                            <div class="play-box">
                      			<p class="txt-css2">发布招募是红演圈提供给招募方进行招募红人的唯一渠道，登陆后点击页面右上角就可以进入发布招募页面。</p>
                                <img src="http://icon.hotyq.com/v2/info/str-recruit-1.jpg">  
                                <img src="http://icon.hotyq.com/v2/info/str-recruit-2.jpg">
                             </div>
                        </div> 
            
   					 </div>
                    
                </div>
                
                
          </div>
             <!--右边栏内容-->
            <div class="right-column">
            	<!--Andorid 微信-->
                 
				{include "html/about_right_first.html"}
                 <div class="cl"></div>
				 {include "html/about_right_second.html"}
				  <div class="cl"></div>
				  {include "html/about_right_third.html"}
				   <div class="cl"></div>
      			<!-- 猜你喜欢 -->
				{include "common/maybe_like_user_right.html"}	           
            </div>
        </div>
    <!-- 主内容栏结束 -->
	{include "common/footer.html"} 	
	</body>
</html>