
<!DOCTYPE html>
<html class=no-js>
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>为什么上红演圈</title>
		<meta name="keywords" content="文化演艺，演艺服务，演员，模特，歌手，舞者，主持人，招募邀约，影视招募，演艺圈，红演圈">
		<meta name="description" content="红演圈 － 中国互联网文化演艺服务第一平台，聚集全国文化演艺人才，提供文化演艺服务信息发布、工作邀约、才艺展示等服务，实名认证、即时沟通、全民演艺！">
		

		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery.js"></script>	
	</head>
	<body class="whyToHyq">
	{include "common/header.html"} 
	{include "common/nav_search.html"} 		 
	<div class="nav-bar">


	<!-- 主内容栏开始 -->
	  	<div class="whyToHotyq-wrap-1">
       		<div class="why-con">
            	<img src="http://icon.hotyq.com/v2/info/whyToHyq-01.jpg">
            </div>
        </div>
        <div class="whyToHotyq-wrap-2">
       		<div class="why-con">
            	<img src="http://icon.hotyq.com/v2/info/whyToHyq-02.jpg">
            </div>
        </div>
        <div class="whyToHotyq-wrap-3">
       		<div class="why-con">
            	<img src="http://icon.hotyq.com/v2/info/whyToHyq-03.jpg">
            </div>
        </div>
        <div class="whyToHotyq-wrap-4">
       		<div class="why-con">
            	<img src="http://icon.hotyq.com/v2/info/whyToHyq-04.jpg">
            </div>
        </div>
        <div class="whyToHotyq-wrap-5">
       		<div class="why-con">
            	<img src="http://icon.hotyq.com/v2/info/whyToHyq-05.jpg">
            </div>
        </div>
        <div class="whyToHotyq-wrap-6">
       		<div class="why-con">
            	<img src="http://icon.hotyq.com/v2/info/whyToHyq-06.jpg">
            </div>
        </div>
  

    <!-- 主内容栏结束 -->
	{include "common/footer.html"} 	
    </div> 	
	</body>
</html>