<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
    <title>404</title>
    <meta name="description" content="">
    
    <meta http-equiv="Pragma" content="no-cache">    
    <meta http-equiv="Cache-Control" content="no-cache">    
    <meta http-equiv="Expires" content="0">
    
    <link rel="stylesheet" href="/css/main.css">
	{literal}
    <style type="text/css">
		.content-wrapper{text-align:center; padding-top:100px;}
		.content-wrapper h3{ color:#333333; font-size:22px; margin-top:40px;}
		.content-wrapper p{color:#a0a0a0; font-size:16px;margin-top:10px; margin-bottom:100px;}
		.content-wrapper p a{color:#ff3300; font-size:16px;}
		.content-wrapper p a:hover{color:#b2272d;}
    </style>
	{/literal}
  </head>
  <body>
    <div class="light-header"> 
    </div>
    <div class="content-wrapper">
    	 <img src="http://icon.hotyq.com/v3/404.png" >
         <h3>矮马，实在抱歉，您当前无法访问此页面。</h3>
         <p>可能是系统出了点小差，你可以选择<a href="javascript:history.go(-1);">返回上一页</a>或者<a href="http://www.hotyq.com/">返回首页</a>。</p>
    </div>
   {include "common/footer.html"}

         
</body>
</html>
