<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>红演圈  – 一步踏进演艺圈</title>
		<meta name="keywords" content="文化演艺，演艺服务，演员，模特，歌手，舞者，主持人，招募邀约，影视招募，演艺圈，红演圈">
		<meta name="description" content="红演圈 － 中国互联网文化演艺服务第一平台，聚集全国文化演艺人才，提供文化演艺服务信息发布、工作邀约、才艺展示等服务，实名认证、即时沟通、全民演艺！">
		<meta property="qc:admins" content="23511515616074116375" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		
		<link rel="stylesheet" href="/css/main.css">
                                        
		                                
	</head>                             
	<body class="welcome">              
		<div class="light-header-2">    
            <div class="light-header-wrap2">
                <a href="/"><img src="http://icon.hotyq.com/v2/welcome/logo-wt.png"></a>
            </div>                      
		</div>                          
        <div class="fullSlide">         
		<div class="bd">                
			<ul>                        
            	<li _src="url(http://icon.hotyq.com/v2/welcome/wel-bg-1.jpg)" style="background:#261f52 center 0 no-repeat;"> </li>
				<li _src="url(http://icon.hotyq.com/v2/welcome/wel-bg-22.jpg)" style="background:#030303 center 0 no-repeat;"> </li>
                <li _src="url(http://icon.hotyq.com/v2/welcome/wel-bg-3.jpg)" style="background:#fff center 0 no-repeat;"></li>
				<li _src="url(http://icon.hotyq.com/v2/welcome/wel-bg-4.jpg)" style="background:#ff3300 center 0 no-repeat;"> </li>
                <li _src="url(http://icon.hotyq.com/v2/welcome/wel-bg-5.jpg)" style="background:#06000c center 0 no-repeat;"> </li>
				                        
			</ul>                       
		</div>                          
		<div class="hd">                
			<ul>                        
			</ul>                       
		</div>                          
		<span class="prev"> </span> <span class="next"> </span>
	</div>                              
        <!-- 主内容栏开始 -->                 
		                                
        <div class="w-login-bg">        
        </div>                          
        <div class="w-login-box">       
        	<a target="" class="w-reg-o" alt="注册" title="注册" href="#"></a>
        	<a target="" class="w-login-o" alt="登录" title="登录" href="#"></a>
            <a target="" class="w-weibo-o" alt="微博登录" title="微博登录" href="#"></a>
        	<a target="" class="w-qq-o" title="QQ登录" alt="QQ登录" href="#"></a>
            <div class="cl"></div>      
            <div class="txt-box">       
       	     <img src="http://icon.hotyq.com/v2/welcome/w-txt.png">
             </div>        	            
        </div>                          
        	                            
                                        
                                        
        <!-- 主内容栏结束 -->                 
		                                
                                        
		                                
		<script src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/superslide.2.1.js"></script>
    	<script type="text/javascript" src="/js/huandong.js"></script>
                                        
	</body>                             
</html>                                 