@charset "utf-8";
/* CSS Document */
body, html {background-attachment: fixed;background-color: #000000;background-image:url(../image/bg.jpg);background-position: center top;background-repeat: no-repeat;color: #FFFFFF;font-size: 12px;width: 100%;overflow-X:hidden; font-family:宋体;}    
.head{width:1434px;background:url(../image/banner.jpg) no-repeat;height: 182px;position:fixed;top:0; left:50%; margin-left:-717px;}
#header{width:1434px;height:182px;margin:0 auto;padding-left:206px;}
#header h1{float:left;}
#header h1 a{width:192px;height:177px;background:url(../image/nolight_h.png) no-repeat;display:block;}
#header h1 a:hover{background:url(../image/light_h.png) no-repeat;}
#header ul{float:left;padding-top:101px;width:604px;height:28px;margin-left:106px;padding-left:103px;position:relative;}
#header ul li{float:left;width:93px;height:28px;}
#header li a{z-index:3;display:block;float:left;width:93px;height:28px;line-height:26px;color:#FFFFFF;font-size:15px;cursor:pointer;text-align:center; text-decoration:none;}
#header li a:hover{ color:#c8c8c8;}
#bg{position:absolute;left:102px;z-index:1;background:url(../image/run_box.png) no-repeat;}

#content {height:auto;left:50%;margin-left:-471px;position: absolute;top:179px;width:942px;z-index:-1;}
.abotit{width:264px;height:46px;margin-top:12px;float:left;background:url(../image/title_bg.png) no-repeat; background-position: 0 -47px;}
.abso_hi{padding:36px 24px 0 60px; overflow:hidden;clear:both;}
.abso_top{height:100px;border-bottom:1px solid #ff0101;overflow:hidden;}
.abso_top_left{width:120px;height:90px;padding-top:10px;float:left;border-right:1px solid #ff0101;}
.abso_top_left li{height:17px;line-height:17px;text-align:right;padding-right:4px;}
.abso_top_left li a{font-size:12px;color:#ffffff; text-decoration:none;cursor:pointer;}
.abso_top_left li a:hover{padding-right:5px; color:#FF0000;}
.abso_top_right{width:161px;height:90px;padding-top:10px;float:left;}
.abso_top_right li{height:17px;line-height:17px;text-align:left;padding-left:4px;}
.abso_top_right li a{font-size:12px;color:#ffffff; text-decoration:none; cursor:pointer;}
.abso_top_right li a:hover{padding-left:5px; color:#FF0000;}
.abso_top_wec{width:560px;height:90px;padding-top:10px;float:left;overflow:hidden;}
.abso_center{height:280px;overflow:hidden;}
.abso_center_left{width:104px;height:280px;padding-top:10px;float:left;border-right:1px solid #ff0101;padding-right:16px;}
.abso_center_left_h{height:44px;line-height:38px;color:#FFFFFF;font-size:17px;font-weight:bold; text-align:right;}
.abso_center_left_h a{color:#FFFFFF;text-decoration:none;cursor:pointer;}
.abso_center_left_h a:hover{line-height:44px; font-size:20px;color:#FF0000;}
.abso_center_left_wz{height:182px;width:16px;float:right;color:#FFFFFF;font-size:12px;line-height:15px;}
.abso_center_left_wz a{color:#FFFFFF; text-decoration:none; cursor:pointer;}
.abso_center_left_wz a:hover{color:#FF0000;}
.abso_center_center{width:360px;height:280px;padding-top:14px;float:left;border-right:1px solid #ff0101;padding-left:38px; font-family:宋体;}
.abso_c_left{width:109px;float:left;height:201px;overflow:hidden;}
.abso_c_right{width:250px;float:left;overflow:hidden;}
.abso_c_right a{font-size:17px;color:#FFFFFF;text-decoration:none;cursor:pointer;}
.abso_c_right li a:hover{ color:#FF0000;padding-left:8px;}
.abso_c_right li,abso_c_righ_left1 li,abso_c_righ_left2 li{height:32px;line-height:32px;text-align:left;}
.abso_c_active{height:34px;line-height:34px;padding-bottom:8px; text-align:left;}
.abso_c_active a{font-size:21px;color:#FFFFFF; text-decoration:none;cursor:pointer;font-weight:bold;}
.abso_c_activa a{font-size:14px;color:#FFFFFF; text-decoration:none;cursor:pointer;font-weight:bold;padding-left:16px;background:url(../image/aboutan.png) no-repeat 4px 3px;}
.abso_c_active a:hover{color:#FF0000;padding-left:4px;}
#shidu,#shidu_2{background:url(../image/aboutan.png) no-repeat 0 10px;}
#shidu a,#shidu_2 a{padding-left:12px;}
#shidu_1 a,#shidu_3 a{font-size:14px;}
.abso_c_lv a{font-size:14px;color:#FFFFFF; text-decoration:none;cursor:pointer;font-weight:bold;padding-left:26px;background:url(../image/aboutan.png) no-repeat 14px 3px;}
.abso_c_lv a:hover{color:#FF0000;padding-left:30px;background:url(../image/aboutan.png) no-repeat 18px 3px;}
.abso_c_activa a:hover{color:#FF0000;padding-left:20px;background:url(../image/aboutan.png) no-repeat 8px 3px}
.abso_c_right2{width:325px;overflow:hidden;float:left;text-align:left;line-height:34px;padding-bottom:8px;padding-top:14px;padding-left:10px;font-size:微软雅黑;}
.clear_bot{padding-top:0;padding-bottom:0;}
.clear_top{padding-bottom:0;}
.abso_c_righ_left1{width:104px;float:left;overflow:hidden;}
.abso_c_righ_left2{width:122px;float:left;overflow:hidden;}
.abso_c_righ_left3{width:98px;float:left;overflow:hidden;}
.abso_center{text-align:center;}
#footer{position:absolute;top:953px;background:url(../image/footer_bg.png) no-repeat;height:172px;width:1434px;left:50%;margin-left:-717px;}
