BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
HTML {
	OVERFLOW-Y: scroll; BACKGROUND: #ffffff
}
BODY {
	TEXT-ALIGN: center; FONT-FAMILY: Helvetica, Arial, Verdana, sans-serif; COLOR: #000; FONT-SIZE: 12px
}
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.clear {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.clearheight {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 10px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.hidden {
	DISPLAY: none
}
SELECT {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
file {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.select {
	COLOR: #999; FONT-SIZE: 12px
}
.file {
	BORDER-BOTTOM: #d8d8d8 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d8d8d8 1px solid; LINE-HEIGHT: 20px; HEIGHT: 20px; COLOR: #999; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.textarea {
	BORDER-BOTTOM: #d8d8d8 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d8d8d8 1px solid; LINE-HEIGHT: 18px; OVERFLOW-Y: scroll; BACKGROUND: #fff; COLOR: #999; FONT-SIZE: 12px; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.input {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #fff; HEIGHT: 18px; COLOR: #999; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 0px
}
.tel {
	FONT-FAMILY: Verdana; COLOR: #005293; FONT-WEIGHT: bold
}
.bold {
	FONT-WEIGHT: bold
}
.yuan {
	MARGIN: 0px 2px 0px 0px; FONT-FAMILY: Arial
}
.gray {
	COLOR: #666
}
.gray A:link {
	COLOR: #666
}
.gray A:visited {
	COLOR: #666
}
.gray A:hover {
	COLOR: #666
}
.gray9 {
	COLOR: #999
}
.gray9 A:link {
	COLOR: #999
}
.gray9 A:visited {
	COLOR: #999
}
.gray9 A:hover {
	COLOR: #999
}
.gray3 {
	COLOR: #333
}
.gray3 A:link {
	COLOR: #333
}
.gray3 A:visited {
	COLOR: #333
}
.gray3 A:hover {
	COLOR: #333
}
.red {
	COLOR: #c00
}
.red A:link {
	COLOR: #c00
}
.red A:visited {
	COLOR: #c00
}
.red A:hover {
	COLOR: #c00
}
.white {
	COLOR: #fff
}
.white A:link {
	COLOR: #fff
}
.white A:visited {
	COLOR: #fff
}
.white A:hover {
	COLOR: #fff
}
.blue {
	COLOR: #005293
}
.blue A:link {
	COLOR: #005293
}
.blue A:visited {
	COLOR: #005293
}
.blue A:hover {
	COLOR: #005293
}
.content {
	PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 950px; PADDING-RIGHT: 0px; BACKGROUND: #fff; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 10px
}
.leftbox {
	TEXT-ALIGN: left; WIDTH: 190px; FLOAT: left; OVERFLOW: hidden
}
.rightbox {
	TEXT-ALIGN: left; PADDING-LEFT: 10px; WIDTH: 750px; FLOAT: left; OVERFLOW: hidden
}
.rightcon {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; CLEAR: both; PADDING-TOP: 0px
}
.boxcon {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; CLEAR: both; PADDING-TOP: 0px
}
.header {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 950px; BACKGROUND: #fff; CLEAR: both; OVERFLOW: hidden
}
.header .logo {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 25px; WIDTH: 120px; PADDING-RIGHT: 25px; FLOAT: left; HEIGHT: 35px; OVERFLOW: hidden; PADDING-TOP: 20px
}
.header .header_right {
	TEXT-ALIGN: right; WIDTH: 750px; FLOAT: right; OVERFLOW: hidden
}
.header .top_nav {
	Z-INDEX: 1001; TEXT-ALIGN: right; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; MARGIN: 0px 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; COLOR: #666; CLEAR: both; PADDING-TOP: 10px
}
.header .top_nav A {
	MARGIN: 0px 5px; COLOR: #666
}
.header .top_nav .city2 {
	POSITION: relative; PADDING-RIGHT: 15px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../images/header_top_arrow.gif) no-repeat right center; COLOR: #005293; CURSOR: pointer
}
.city_list {
	Z-INDEX: 1001; POSITION: absolute; MARGIN: 0px auto; WIDTH: 50px; BACKGROUND: #ddd; FLOAT: left; OVERFLOW: hidden; TOP: 30px; LEFT: auto; _right: 605px
}
.city_list LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; WIDTH: 50px; HEIGHT: 20px; CLEAR: both; OVERFLOW: hidden
}
.city_list LI A {
	DISPLAY: block; HEIGHT: 20px; COLOR: #666666; OVERFLOW: hidden
}
.city_list LI A:hover {
	BACKGROUND: #d8d8d8; COLOR: #005293; TEXT-DECORATION: none
}
.header .menu {
	MARGIN-TOP: 3px; WIDTH: 675px; FLOAT: right; HEIGHT: 32px; OVERFLOW: hidden
}
.header .menu LI {
	Z-INDEX: 99; POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 20px; FLOAT: left; HEIGHT: 32px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.header .menu LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 0px
}
.menu {
	COLOR: #666; TEXT-DECORATION: none
}
.menu A:link {
	COLOR: #666; TEXT-DECORATION: none
}
.menu A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
.menu A:hover {
	COLOR: #005293; TEXT-DECORATION: none
}
.header .menu LI.menuon {
	BACKGROUND: url(../images/menu_on.gif) no-repeat center bottom; HEIGHT: 32px
}
.header .menu LI.menuoff {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.header .menu LI.menu_act_on {
	PADDING-RIGHT: 5px; BACKGROUND: url(../images/menu_act_on.gif) no-repeat right top; COLOR: #83084b
}
.header .menu LI.menu_act_on A {
	COLOR: #83084b
}
.menu_tab {
	Z-INDEX: 102; POSITION: absolute; FILTER: alpha(opacity=80); PADDING-BOTTOM: 15px; MARGIN: 0px auto 0px -200px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #fff; HEIGHT: 180px; TOP: 75px; PADDING-TOP: 15px; LEFT: auto; _margin_left: 0; -moz-opacity: 0.80; opacity: 0.80
}
.menu_tab_bg {
	
}
.menu_tab_con {
	MARGIN: 0px auto; HEIGHT: 180px; OVERFLOW: hidden
}
.ScrCont {
	WIDTH: 1342177.27px
}
#ISL_Cont {
	MARGIN: 0px 3px; WIDTH: 914px; OVERFLOW: hidden
}
#List1 {
	FLOAT: left
}
#List2 {
	FLOAT: left
}
.menu_goods {
	TEXT-ALIGN: center; PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; WIDTH: 124px; PADDING-RIGHT: 30px; BACKGROUND: url(../images/menu_tab_line.gif) no-repeat right center; FLOAT: left; HEIGHT: 115px; OVERFLOW: hidden; PADDING-TOP: 30px
}
.end.menu_goods {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.menu_goods .goods_tp {
	HEIGHT: 95px; CLEAR: both; verflow: hidden
}
.menu_goods .goods_tp IMG {
	WIDTH: 120px; HEIGHT: 90px
}
.menu_goods .type {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana; HEIGHT: 20px; CLEAR: both; FONT-SIZE: 14px; FONT-WEIGHT: bold; verflow: hidden
}
.footer {
	PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 950px; PADDING-RIGHT: 0px; BACKGROUND: #e7e7e7; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 5px
}
.footer .foot_nav {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; MARGIN: 1px auto; CLEAR: both; OVERFLOW: hidden
}
.footer .foot_nav A {
	MARGIN: 0px 5px
}
.footer .foot_nav P {
	CLEAR: both
}
.footer .copyright {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; COLOR: #666; CLEAR: both
}
.footer .copyright P {
	CLEAR: both
}
.footer {
	COLOR: #666
}
.footer A:link {
	COLOR: #666
}
.footer A:visited {
	COLOR: #666
}
.footer A:hover {
	COLOR: #666
}
.foot_help {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 20px; MARGIN: 1px auto; PADDING-LEFT: 49px; WIDTH: 850px; PADDING-RIGHT: 49px; BACKGROUND: #e1e1e1; COLOR: #666; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 20px
}
.foot_help .foot_txt {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; WIDTH: 170px; FLOAT: right; OVERFLOW: hidden
}
.foot_help .foot_txt P {
	MARGIN: 2px 0px
}
.foot_help UL {
	WIDTH: 670px; FLOAT: left; OVERFLOW: hidden
}
.foot_help LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 30px; WIDTH: 100px; PADDING-RIGHT: 30px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 0px
}
.foot_help LI P {
	CLEAR: both
}
.foot_help LI P.title {
	BORDER-BOTTOM: #aaa 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 15px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.foot_help LI P .dot {
	MARGIN: 0px 5px
}
.foot_help {
	COLOR: #666
}
.foot_help A:link {
	COLOR: #666
}
.foot_help A:visited {
	COLOR: #666
}
.foot_help A:hover {
	COLOR: #666
}
.btn_blue {
	WIDTH: 75px; DISPLAY: block; BACKGROUND: url(../images/btn_blue.gif) no-repeat; HEIGHT: 25px; OVERFLOW: hidden; CURSOR: pointer
}
.btn_blue5 {
	WIDTH: 100px; DISPLAY: block; BACKGROUND: url(../images/btn_blue5.gif) no-repeat; HEIGHT: 25px; OVERFLOW: hidden; CURSOR: pointer
}
.btn_green {
	WIDTH: 75px; DISPLAY: block; BACKGROUND: url(../images/btn_green.gif) no-repeat; HEIGHT: 25px; OVERFLOW: hidden; CURSOR: pointer
}
.btn_gray {
	WIDTH: 75px; DISPLAY: block; BACKGROUND: url(../images/btn_gray.gif) no-repeat; HEIGHT: 25px; OVERFLOW: hidden; CURSOR: pointer
}
.btn_gray2 {
	WIDTH: 50px; DISPLAY: block; BACKGROUND: url(../images/btn_gray2.gif) no-repeat; HEIGHT: 25px; OVERFLOW: hidden; CURSOR: pointer
}
.btn_01 {
	BACKGROUND-POSITION: 0px 0px
}
.btn_02 {
	BACKGROUND-POSITION: 0px -25px
}
.btn_03 {
	BACKGROUND-POSITION: 0px -50px
}
.btn_04 {
	BACKGROUND-POSITION: 0px -75px
}
.btn_05 {
	BACKGROUND-POSITION: 0px -100px
}
.btn_06 {
	BACKGROUND-POSITION: 0px -125px
}
.btn_07 {
	BACKGROUND-POSITION: 0px -150px
}
.btn_08 {
	BACKGROUND-POSITION: 0px -175px
}
.btn_09 {
	BACKGROUND-POSITION: 0px -200px
}
.btn_10 {
	BACKGROUND-POSITION: 0px -225px
}
A.btn_left {
	FLOAT: left; MARGIN-RIGHT: 5px
}
A.btn_mid {
	MARGIN: 0px auto
}
A.btn_right {
	FLOAT: right; MARGIN-LEFT: 5px
}
.pagebar {
	TEXT-ALIGN: center; MARGIN: 0px auto; CLEAR: both
}
.pagebar FORM {
	TEXT-ALIGN: center
}
.pagebar .next {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; WIDTH: 22px; PADDING-RIGHT: 4px; HEIGHT: 19px; COLOR: #000; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.pagebar .page_now {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #3960df; COLOR: #fff; MARGIN-RIGHT: 3px; PADDING-TOP: 2px
}
.pagebar A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #cccccc; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 2px
}
#pager {
	TEXT-ALIGN: right; LINE-HEIGHT: 28px; PADDING-RIGHT: 10px
}
#pager .next A {
	COLOR: #000; FONT-WEIGHT: normal
}
.left_nav {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; WIDTH: 184px; PADDING-RIGHT: 3px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.left_nav UL {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 5px
}
.left_nav UL.end {
	BORDER-BOTTOM: medium none
}
.left_nav UL P {
	LINE-HEIGHT: 25px; PADDING-LEFT: 20px; CLEAR: both; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.left_nav UL LI {
	LINE-HEIGHT: 25px; HEIGHT: 25px; CLEAR: both; OVERFLOW: hidden
}
.left_nav UL LI A {
	PADDING-LEFT: 20px; DISPLAY: block
}
.left_nav .curs {
	BACKGROUND: #adadad; COLOR: #fff
}
.left_nav A.curs {
	BACKGROUND: #adadad; COLOR: #fff
}
.nav_title {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; MARGIN: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/nav_tbg.gif) repeat-x 50% bottom; HEIGHT: 30px; COLOR: #333; CLEAR: both; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.nav_title .txtlink {
	FLOAT: right; COLOR: #005293; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.nav_title .txtlink A {
	COLOR: #005293
}
.bg_left {
	
}
.bg_left .nav_bgt {
	BACKGROUND: url(../images/nav_bgt.gif) no-repeat 0px 0px; HEIGHT: 7px; OVERFLOW: hidden
}
.bg_left .nav_bgc {
	BACKGROUND: url(../images/nav_bgc.gif) repeat-y 0px 0px
}
.bg_left .nav_bgd {
	BACKGROUND: url(../images/nav_bgd.gif) no-repeat 0px 0px; HEIGHT: 7px; OVERFLOW: hidden
}
.bg_right {
	
}
.bg_right .nav_bgt {
	BACKGROUND: url(../images/nav_bgt.gif) no-repeat 0px -10px; HEIGHT: 7px; OVERFLOW: hidden
}
.bg_right .nav_bgc {
	BACKGROUND: url(../images/nav_bgc.gif) repeat-y -190px 0px
}
.bg_right .nav_bgd {
	BACKGROUND: url(../images/nav_bgd.gif) no-repeat 0px -10px; HEIGHT: 7px; OVERFLOW: hidden
}
.bg_box {
	
}
.bg_box .nav_bgt {
	BACKGROUND: url(../images/nav_bgt.gif) no-repeat 0px -20px; HEIGHT: 7px; OVERFLOW: hidden
}
.bg_box .nav_bgc {
	BACKGROUND: url(../images/nav_bgc.gif) repeat-y -950px 50%
}
.bg_box .nav_bgd {
	BACKGROUND: url(../images/nav_bgd.gif) no-repeat 0px -20px; HEIGHT: 7px; OVERFLOW: hidden
}
.bnt_num2 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; WIDTH: 35px; BACKGROUND: url(../images/tit2.gif) no-repeat 0px -199px; HEIGHT: 17px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.bnt_num4 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; WIDTH: 63px; BACKGROUND: url(../images/tit2.gif) no-repeat 0px -229px; HEIGHT: 17px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.bnt_num6 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; WIDTH: 100px; BACKGROUND: url(../images/tit2.gif) no-repeat 0px -259px; HEIGHT: 17px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.bnt_num8 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; WIDTH: 143px; BACKGROUND: url(../images/tit2.gif) no-repeat 0px -289px; HEIGHT: 17px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
