<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>邀约测试页</title>
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/state_code.js"></script>
	</head>
	<body>
	<div style="z-index:1002;display:block" id="hide_show">
		
		<div align="center">
			<button id="show" style="background:pure;height:50px;width:200px">邀约发送首页：</button><br><br>
			<hr>

			<button id="edit" align="center" style="background:red;height:100px;width:100px">邀约</button><br><br>
		</div>
		<br><hr>
		<div id="editarea" align="center">
			<hr>
			邀约者ID：<input type="text" name="inviter" value="" placeholder="请输入数字ID"><br><br>
			邀约的我的招募：<select name="recruit">
							<option value="">--请选择你要邀约的招募--</option>
							<option value="1">做报表的招募</option>
							<option value="2">保镖的招募</option>
							<option value="3">陪睡的招募</option>
							<option value="4">陪吃的招募</option>
							<option value="5">陪玩的招募</option>

						</select><br><br>
			邀约的服务：<select name="service">
							<option value="">--请选择招募的服务--</option>
							<option value="1">大宝剑</option>
							<option value="2">按摩</option>
							<option value="3">搓澡</option>
							<option value="4">保姆</option>

						</select><br><br>
			对应的三级的服务：<br>
						<input type="checkbox" name="service_3" value="1">喷火
						<input type="checkbox" name="service_3" value="2">喷水
						<input type="checkbox" name="service_3" value="3">冻冰
						<input type="checkbox" name="service_3" value="4">光环
						<input type="checkbox" name="service_3" value="5">速度
						<input type="checkbox" name="service_3" value="6">电机
						
						<br><br>
			留下您的联系方式:<br><br> 
					  电话:<input type="text" name="u_mobile" value="" placeholder="请输入您的电话"><br><br>
					  邮箱:<input type="text" name="u_email" value="" placeholder="请输入您的邮箱"><br><br>	
					  微信:<input type="text" name="u_weixin" value="" placeholder="请输入您的微信号"><br><br>	
					  QQ:<input type="text" name="u_qq" value="" placeholder="请输入您的QQ">	
			<hr>	
			<input type="button" name="send_message" onclick="return subdata()" value="发送" />
		</div>
	</body>
	{literal}
		<script>
			<!-- 添加标签或更新标签 -->
			//邀约信息ajax 提交
			function subdata(){

				<!-- 获取邀约信息 -->
				var action = 'user_send_apply';
				var applyer = $("input[name='inviter']").val();
				var recruit = $("select[name='recruit'] option:selected").val();
				var service = $("select[name='service'] option:selected").val();
				//获取选中的三级服务id
				var service_3 = '';
				$("input[name='service_3']").each(function(){
					if($(this).prop("checked")){
						service_3 += $(this).val()+'|'; 
					}
				});
				if(service_3.length == 0){
					alert('请至少选择一项对应的服务!!!');
					return false;
				}
				alert(service_3);
				var mobile = $("input[name='u_mobile']").val();
				var email = $("input[name='u_email']").val();
				var weixin = $("input[name='u_weixin']").val();
				var qq = $("input[name='u_qq']").val();
				//alert(qq);
				<!-- ajax传递邀约信息 -->
				$.ajax({
					url:'/.php',
					type:'post',
					data:{"action":action,"applyer":applyer,"recruit":recruit,"service":service,"service_3":service_3,"mobile":mobile,"email":email,"weixin":weixin,"qq":qq},
					success:function(data){
						alert(data);
						if(data == 1000){
							alert('OK,邀约成功!');
						}else if(data == 1374){
							alert('NO,请不要重复邀约!');
						}else{
							alert('NO,邀约失败!');
						}
						/*var Mes = state_list[parseInt(data)];
						alert(Mes);*/
						$('#editarea').fadeOut();
					},
					dataType:'json'
				});
			}	
		</script>
	{/literal}
</html>