{literal}
<script type="text/javascript">
    $(function(){ 

            //初始化相册管理器
            var albumManagers = $('.album-manager');

            if(albumManagers){
                $.each(albumManagers,function(i,e){
                    $(e).HYQAlbumManager({
                        uploadApi:"upload_album.php",//后端童鞋你造么，这个是相册上传的API
                        fileField:"img"//这个是你希望给你提交上传文件的时候给你传的那个参数名
                    });
                });
            }

            /********* TIP 各种弹 ***********/
            var tip = $("#tip-message").HYQTip();

             
             
             

            /***********************************
                 红名片的脚本开始 
            ************************************/
             
            var rcEditBox = $("#redcard-edit-box");//红名片编辑表单
            var rcReviewBox = $("#redcard-review-box");//红名片浏览界面
            var rcEditBtn = $("#redcard-edit-btn");//进入红名片编辑状态的按钮
            var rcSaveBtn = $("#redcard-save-btn");//保存红名片的按钮
            var rcCancleBtn = $("#redcard-cancle-btn");//取消修改



            //点击编辑按钮开始
            rcEditBtn.click(function(){
                $(this).hide();
                rcEditBox.show();
                rcReviewBox.hide();

            });

            //取消保存按钮被触发
            rcCancleBtn.click(function(){

                rcEditBox.hide();
                rcReviewBox.show();
                rcEditBtn.show();
            });

            //保存按钮被触发
            rcSaveBtn.click(function(){
                //保存红名片的操作在这里整  
                //同时因为保存了内容，所以你需要去更新rcReviewBox里面的内容，千万不要忘记了    

                //保存成功后的回调里使用这两句切换到浏览模式
                    rcEditBox.hide();
                    rcReviewBox.show();
                    rcEditBtn.show();
            });
            /***********************************
                 红红名片的脚本结束
            ************************************/


            /***********************************
                 图片上传的的脚本开始 
            ************************************/
            var dlg = $("#img-cropper-dialog");

                var imgCropper = $('.hyq-image-cropper').HYQImageCropper({
                    uploadApi:"upload.php",//在这里配置上传图片的API
                    cropApi:"api.php"//在这里配置截图的API                  
                });


                dlg.on("hyq/modal/hidden",function(){
                    imgCropper.trigger('hyq/imagecropper/reset');
                });
               
            
                imgCropper.on("hyq/imgcropper/success",function(event){
                //接受成功信息

                    //头像上传成功哦那个后，图片地址是一个数组，
                    //保存在  event.images 
                    // 格式为 ['1：1头像的地址','4：3头像第二张图的地址']
                    // 你可以在这里提示上传头像成功，也可以获得图片地址作为其他用途
                    console.log(event.images );

                    dlg.trigger('hyq/modal/close');//关闭
                    tip.showSuccess("修改头像成功！");

                });

                imgCropper.on("hyq/imagecropper/uiactived",function(event){
                  $("#img-cropper-dialog").trigger('hyq/modal/sizechanged');
                });
                /*** 以下两个时间的触发时机是一样的，第一个是带有状态信息的，可以自己控制报错的方式，第二个 是只有错误信息，使用弹出框报错，根据情况使用*/
                /*************************************************************************************/
                // 一
                imgCropper.on('hyq/imgcropper/upload-error',function(event){
                    //当上传失败时，获得返回状态和信息 错误信息存储在 event.hyqData 中
                    console.log(event.hyqData);

                });

                // 二 
                imgCropper.on('hyq/imgcropper/error-message',function(event){
                //接受失败信息
                    //只获取错误信息 event.hyqMessage
                     //触发报错窗口
                    $('#error-message-box').trigger({
                        type:'hyq/modal/show_with_message',
                        hyqMessage:event.hyqMessage
                    });
                });
                /***********************************
                 图片上传 脚本结束
                ************************************/


                /***********************************
                 红资料的脚本开始 
                ************************************/
                //控制显示的三个CSS类
                var stateWrapper = $('#profile-state-box');//通过修改这个容器的CSS类来控制显示

                var sClassReview = 'profile-review';//浏览模式
                var sClassEdit = 'profile-edit';//编辑模式
                var sClassFistEdit = 'profile-first-edit';//第一次编辑模式

                var rpEditBtn = $("#profile-edit-btn");//编辑按钮
                var rpExpendBtn = $("#profile-expend-btn");//展开按钮
                var rpSaveBtn = $("#profile-save-btn");//保存按钮
                var rpCancleBtn = $("#profile-cancle-btn");//取消按钮

                //红资料编辑按钮被触发
                rpEditBtn.click(function(){
                    
                    //在这里初始化编辑状态下的表单值 

                    stateWrapper
                    .removeClass(sClassReview)
                    .addClass(sClassEdit);
                });

                //红资料退出按钮被按下
                rpCancleBtn.click(function(){
                    //不做任何保存直接退出编辑模式
                    stateWrapper
                    .removeClass(sClassEdit)
                    .addClass(sClassReview);
                });


                //红资料展开按钮被触发
                rpExpendBtn.click(function(){
                //第一次编辑时展开
                    stateWrapper
                    .removeClass(sClassFistEdit)
                    .addClass(sClassEdit);
                });

                //保存按钮被触发
                rpSaveBtn.click(function(){

                    //在这里上保存的ajax 

                    //一下应该是在 保存成功的回调里调用的代码
                        //切换到浏览模式之前，注意更新浏览模式里面的信息
                     
                        //注意如果执行成功的话 使用这句代码 切换到浏览模式 
                        stateWrapper
                        .removeClass(sClassEdit)
                        .addClass(sClassReview);
                });
                /***********************************
                 红资料的脚本结束 
                ************************************/


            /***********************************
             红相册开始 
            ************************************/

           var manager = $(".album-manager"); 
            $('.album-manager').HYQAlbumManager({
                uploadApi:"fake_api/uploadRedAlbum.json",//是相册上传的API
                fileField:"img",//这个是你希望给你提交上传文件的时候给你传的那个参数名
                deleteApi:"fake_api/deleteApi.json",
            });

            manager.on('hyq/album_manager/show_photo',function(event){
                    //打开图片浏览器
                    console.log(event.photoId);
                    $("#img-album-viewport-dialog").trigger('hyq/modal/show');
                    
            });

            manager.on("hyq/album_manager/cropper_avatar",function(event){
                console.log(event);
                var imgCropperInstance = imgCropper.data('ui-HYQImageCropper');
                $("#img-cropper-dialog").trigger('hyq/modal/show');
                imgCropperInstance.cropWithExistImage(event.imageUrl);
            });
            
            /***********************************
                 红相册结束
            ************************************/

             /***********************************
                 红标签开始 
            ************************************/
            //各种按钮
          var tagSaveBtn = $('#redtags-save-btn');
            var tagCancleBtn = $('#redtags-cancle-btn');
            var tagEditBtn = $('#redtags-edit-btn');
            var tagExpendBtn = $('#redtags-expend-btn');
            //各种盒子 
            var tagReviewBox = $('#redtags-review-box');
            var tagEditBox = $('#redtags-edit-box');
            var tagDiyBox = $('#redtags-diys');
            var tagDiyMaker = $("#redtags-diy-maker");

            //样式名
            var tgFirstEditCss = "rt-first-edit";
            var tgEditCss = "rt-edit";
            var tgReviewCss = "rt-review";

            //整个栏
            var tgColumn = $("#redtags-column");
            var hide_edit_tags  = $('#hide_edit_tags').val();
            //初始化显示状态状态
            var updateTagMode = function(){
                //第一次编辑模式
                if(tgColumn.hasClass(tgFirstEditCss)){
                    tagReviewBox.hide();
                    tagEditBox.hide();
                    tagExpendBtn.show();
                    tagEditBtn.hide();

                }

                //编辑模式
                if(tgColumn.hasClass(tgEditCss)){
                    tagReviewBox.hide();
                    tagEditBox.show();
                    tagExpendBtn.hide();
                    tagEditBtn.hide();

                }
                //浏览模式
              if(tgColumn.hasClass(tgReviewCss)){
                    tagReviewBox.show();
                    tagEditBox.hide();
                    tagExpendBtn.hide();
                    tagEditBtn.show();

                }
                tgColumn.show();
            };
             
            var tgSetEditMode = function(){
                tgColumn.removeClass(tgReviewCss).removeClass(tgFirstEditCss).addClass(tgEditCss);
                updateTagMode();
            }
            var tgSetReviewMode = function(){
                tgColumn.addClass(tgReviewCss).removeClass(tgFirstEditCss).removeClass(tgEditCss);
                updateTagMode();
            }
            var tgSetFirstEditMode = function(){
                tgColumn.removeClass(tgReviewCss).addClass(tgFirstEditCss).removeClass(tgEditCss);
                updateTagMode();
            }

            //第一次运行的时候要初始化成什么状态在这里设置
            //********************
            
            //tgSetFirstEditMode();
            //tgSetReviewMode();
            //tgSetEditMode();
            $(function(){
                    //var hide_edit_tags  = $('#hide_edit_tags').val();
                   // alert(hide_edit_tags);
                if(hide_edit_tags == ''){
                     tgSetFirstEditMode();
                }else{
                    tgSetReviewMode();
                }
                
            });
            //点击编辑按钮
            tagEditBtn.click(function(){
                tgSetEditMode();
            });

            //展开编辑按钮
            tagExpendBtn.click(function(){
                tgSetEditMode();
            });

            //取消按钮
            tagCancleBtn.click(function(){
                if(hide_edit_tags == ''){
                    tgSetFirstEditMode();
                }else{
                    tgSetReviewMode();
                }
                
            });

            //保存按钮
            tagSaveBtn.click(function(){
                //在这里干保存的事情
                    //如果保存成功 注意应该是在保存成功的回调里调用这个函数
                 // var hide_edit_tags  = $('#hide_edit_tags').val();
                  //alert(123);
                 // alert('1234'+hide_edit_tags);
                   if(hide_edit_tags == ''){
                       tgSetFirstEditMode();
                      }else{
                           tgSetReviewMode();
                      } 
            });

            //删除自定义标签的回调
            var deleteTaghandler = function(event){
                var tar = event.target||event.srcElement;
                $(tar).parent().remove();
            }
            //检查自定义标签个数
            var checkNumberOfTags = function(){
                if(tagDiyBox.find('.diy-tag').length>=5){
                    tagDiyMaker.hide();
                 }else{
                    tagDiyMaker.show();
                }
                return tagDiyBox.find('.diy-tag').length;
            }
            
            //处理自定义标签
             checkNumberOfTags();
    
            tagDiyBox.find('.close-btn-tiny').click(function(event) {
                var tar = $(event.target || event.srcElement);
                del_tag(tar);
            });

            function del_tag(tar){
                var action = 'delete_self_tag';
                var tid = tar.prop('id');
                //alert(tid);
                $.ajax({
                    url:'/home/ajax/ajax_home_userprofile.php',
                    type:'post',
                    data:{'action':action,'tid':tid},
                    success:function(data){
                        //alert(data);
                        if(data == 1000){
                            tar.parent().remove();
                            checkNumberOfTags();
                            alert('OK');
                        }else if(data == 1306){
                            alert('用户标签关联表中记录删除失败');
                        }else{
                            alert('自定义标签删除失败');
                        }
                    },
                    dataType:'text'
                }); 
            }
            
            tagDiyMaker.on("keypress",function(evt){
                     if(checkNumberOfTags()>=5) return;        
                        if(evt.keyCode==13){
                            if($.trim(tagDiyMaker.val())!=""){
                                var tg =$("<span>")
                                .addClass('diy-tag inline-block')
                                .html("<span class='diy-tag-value'>"+tagDiyMaker.val()+'</span> &nbsp;&nbsp;<a class="close-btn-tiny"></a>')
                                .appendTo(tagDiyBox);
                                tagDiyMaker.val("");
                                tg.find('.close-btn-tiny').click(function(event){
                                    var tar = $(event.target||event.srcElement);
                                    tar.parent().remove();

                                    checkNumberOfTags();
                                });

                            }
                             checkNumberOfTags();
                        }else{
                            //不许超过32个字符
                            if($.trim(tagDiyMaker.val()).length>=32){

                                return false;
                            }
                        }
            });


             //增补功能 统计系统标签选择数目
             var tagsBox = $("#redtags-edit-box");   
             var fakeCheckboxs = tagsBox.find(".hyq-nice-checkbox+span");
             var realCheckboxs = tagsBox.find(".hyq-nice-checkbox[name=mchoice]");
            //预加载统计系统标签数目
            count_tags();
            fakeCheckboxs.click(function(event){
                    count_tags();
           }) ;
            function count_tags(){
                    var sysTags = tagsBox.find(".hyq-nice-checkbox[name=mchoice]:checked").length;
                   //alert(sysTags);
                    if(sysTags>=15){
             
                         tagsBox.find(".hyq-nice-checkbox[name=mchoice]:not(:checked)").prop("disabled",true);
                
                     }else{
                
                            tagsBox.find(".hyq-nice-checkbox[name=mchoice]").prop("disabled",false);
                
                        }
            }

        /***********************************
         红标签结束
         ************************************/
    }); 
</script>
{/literal}