 
<div class="column-wrapper album-column ">

 <!--data store-->
<div id="album-data-store"></div>
	<div class="album-manager column-wrapper album-review  RdBorderBtm ">
		 
 
		<div class="row album-box" role="hyq-slidedown-content" id="red-gallery-edit-panel">
			<div class="poster-album">
				<ul class="album-wrapper">

					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<i class="fa fa-file-photo-o"></i> 设为封面
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box">
							<img src="images/photo.jpg" photo-id="1">
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>

					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<i class="fa fa-file-photo-o"></i> 设为封面
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box">
							<img src="images/photo.jpg" photo-id="1">
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>

					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<i class="fa fa-file-photo-o"></i> 设为封面
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box">
							<img src="images/photo.jpg" photo-id="1">
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>


					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<i class="fa fa-file-photo-o"></i> 设为封面
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box">
							<img src="images/photo.jpg" photo-id="1">
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>


					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<i class="fa fa-file-photo-o"></i> 设为封面
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box">
							<img src="images/photo.jpg" photo-id="1">
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>


					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<i class="fa fa-file-photo-o"></i> 设为封面
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box">
							<img src="images/photo.jpg" photo-id="1">
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>
					
					 

				</ul>
			</div>

			<div class="btn-group album-btn-box">
				<input type="button" class="hyq-btn hyq-btn-lg exit-edit-btn" value="浏览模式" />
				&nbsp;&nbsp;
				<span class="Gray8 album-message-box"></span>
				<input type="button" class="hyq-btn hyq-btn-lg hyq-btn-gray pull-right _hidden delete-selected-photo-btn" value="删除选定" style="margin-right:16px;"/>
			</div>
		</div>
		<br/>
	</div>
</div>
<!--浏览窗口-->
<div class="hyq-modal hyq-modal-default _hidden _clb" id="img-album-viewport-dialog" role="dialog">
	
	<div class="hyq-album-viewport" id="user-profile-album-viewport">
		<div class="txt-center f12 Gray5">按ESC键退出</div>
		<div class="viewport-inner">
			<div class="view-box">
			<i class="go-prev"></i>
			<i class="go-next"></i>
				<div class="photo-wrapper">
					  <img src="images/img-spacer.png" />
				</div>
			</div>
			<div class="thumb-box">
				<ul class="thumb-wrapper">
					<li class="thumb-item">
						<div class="image-box" alt="点击查看大图" title="点击查看大图"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item">
						<div class="image-box" alt="点击查看大图" title="点击查看大图"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item">
						<div class="image-box" alt="点击查看大图" title="点击查看大图"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item">
						<div class="image-box" alt="点击查看大图" title="点击查看大图"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item">
						<div class="image-box" alt="点击查看大图" title="点击查看大图"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item">
						<div class="image-box" alt="点击查看大图" title="点击查看大图"></div>
						<div class="no-image-box"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--浏览窗口结束-->

<script type="text/javascript">
	$(window).load(function(){
		/***********************************
         通用相册组件开始
         ************************************/
        
        //初始化的数据===============================  
        var _album = [{
            id : "1",
            thumbnail : "http://icon.hotyq.com/v2/photo.jpg",
            photo : "http://icon.hotyq.com/v2/photo.jpg"

        }, {
            id : "2",
            thumbnail : "http://icon.hotyq.com/v2/photo.jpg",
            photo : "http://icon.hotyq.com/v2/photo.jpg"
        },
        null,
        null,
        null,
        null];
        //==============================================


        $("#album-data-store").HYQAlbumDatastore({
            albumData:_album,///上面电议的原始数据，可以在页面载入的时候用PHP打印
            deleteApi:"fake_api/delete.php",//删除数据的API
            delRequstFieldName:'photo_id_arr',//$_REQUEST获取参数时的KEY 默认是photo_id_arr 可以根据自己的需要修改
        });

        var albumStore = $("#album-data-store").data('ui-HYQAlbumDatastore');
        
        var viewport= $('.hyq-album-viewport').HYQAlbumViewport({
        	albumStore:albumStore,
        	initPhotoId:null
        });
        
        var manager = $(".album-manager");
        $('.album-manager').HYQAlbumManager({
            uploadApi : "fake_api/uploadRedAlbum.php", //是相册上传的API
            fileField : "img", //这个是你希望给你提交上传文件的时候给你传的那个参数名
            albumStore : albumStore
        });

        manager.on('hyq/album_manager/show_photo', function(event) {
            //打开图片浏览器
            console.log("HERE")
            console.log(event.photoId);
            $("#img-album-viewport-dialog").trigger('hyq/modal/show');
            console.log("HERE")
        });

        manager.on("hyq/album_manager/cropper_avatar", function(event) {
            console.log("页面主逻辑街道图像管理器发来截图请求：");
            console.log(event);
            var imgCropperInstance = imgCropper.data('ui-HYQImageCropper');
            $("#img-cropper-dialog").trigger('hyq/modal/show');
            imgCropperInstance.cropWithExistImage(event.imageUrl);
        });

        //开始处理图片查看器
        var viewport = $("#user-profile-album-viewport");
        viewport.HYQAlbumViewport({
            albumStore :albumStore,
            activePos : null
        });

        var viewportInstance = viewport.data("ui-HYQAlbumViewport");



        /***********************************
         通用相册组件结束
         ************************************/
	});

</script>
