<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>chinaJoy活动页</title>
		<meta name="description" content="">
		
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery.js"></script>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/chinaJoy/chinajoy.css">
		{literal}
        <style type="text/css">
		body{background:#13051d;}
		</style>
		<script>
		$(document).ready(function(){
			$(window).scroll(function(){
				if ($(window).scrollTop()>30){
					$(".cj-right").fadeIn(500);
				}
				else
				{
					$(".cj-right").fadeOut(500);
				}
			});
		});
		</script>
		{/literal}
	</head>
	<body>
		{include "common/header.html"} 
		{include "common/nav_search.html"}
        <!-- 主内容栏开始 -->
		<!--banner-->
        <div class="cj-ban"></div>
        <div class="cj-con1">
        	<div class="con-auto">
       	    	<img class="cj-tu1" src="/images/chinaJoy/chinajoy-1.png" width="691" height="295">
            	<img class="cj-tu2" src="/images/chinaJoy/chinajoy-2.png" width="593" height="184">
                <div class="text-con">
                	<div class="text-top">
                        <h3>主办单位</h3>
                        <p class="text-r">中国音数协游戏工委<br>上海市新闻出版局<br>北京汉威信恒展览有限公司</p>
                    </div>
                	
                    <div class="text-bot">
                    	<p>ChinaJoy创办于中国网络游戏爆发的世纪之初，历经十余年的发展，已经发展成为全球数码互动娱乐领域最具影响力的盛会。</p>
                        <p>当前，ChinaJoy已发展成为以中国国际数码互动娱乐展览会（含B To C和B To B）为主，中国国际动漫及衍生品授权展览会（C.A.W.A.E）、次世代游戏机及家庭数字娱乐产品展览会（ACH）及 中国国际数码互动娱乐产业高峰论坛（CDEC）、世界移动游戏大会（WMGC）、中国游戏开发者大会（CGDC）和中国游戏商务大会（CGBC）共同带动的“三展四会” 系列会展阵容，是个名副其实的横跨数字娱乐全业态的产业交流和展示平台。</p>
                        <p>实至名归！10万平方米亚洲第一游戏盛宴ChinaJoy！</p>
                        <p>最具规模：6个展馆，1600款全球顶尖游戏巨作，4天参观人数达25万人次；其中中外媒体记者9000人次；</p>
                        <p>最具影响力：全球30多个国家，550家创意企业，1500余台体验机带来震撼的游戏体验！</p>
                        <p> B to B综合商务洽谈区集企业品牌、产品、技术、资本于一体，打造产业综合商务服务功能，在展示、在线配对商务对话、洽谈及投融资推介等一系列商务途径中，继续推进国内、中外游戏企业之间的广泛商务沟通与合作，彰显ChinaJoy所具有的产业引领、带动和发展的功能与作用。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cj-con2">
   	    	<img src="/images/chinaJoy/chinajoy-tiltle1.jpg" width="476" height="95">
        	<img class="cj-tu3" src="/images/chinaJoy/chinajoy-3.jpg" width="1019" height="465">
            <img src="/images/chinaJoy/chinajoy-tiltle2.jpg" width="476" height="95">
            <div class="cj-reg">
            	<div class="cj-recruit-1"> 
           	    	<img class="img-link" src="/images/chinaJoy/chinajoy-7.jpg" width="243" height="350">
                    <div class="cj-link">
                    	<h4>参加要求</h4>
                    	<p>1.身高1.68米以上<br>2.相貌、身材较好<br>3.Chinajoy经验丰富者优先<br>4.个人资料至少上传 6 张红形象</p>
                    </div>
                	<a class="cj-bm" eid="160" s_3_id="221" data-target="#be-recruited-modal-bm" data-toggle="hyq-modal" value="showgirl"></a><!-- showgirl -->
                </div>
                <div class="cj-recruit-1">
               	  <img class="img-link" src="/images/chinaJoy/chinajoy-8.jpg" width="243" height="350">
                    <div class="cj-link">
                    	<h4>参加要求</h4>
                    	<p>1.热爱cos表演<br>2.吃苦耐劳<br>3.有展会cos经验者优先<br>4.个人资料至少上传 6 张红形象</p>
                    </div>
                    <a class="cj-bm" eid="161" s_3_id="698"  data-target="#be-recruited-modal-bm" data-toggle="hyq-modal" value="cosplay"></a><!-- cosplay -->
                </div>
                <div class="cj-recruit-1">
               	  <img class="img-link" src="/images/chinaJoy/chinajoy-9.jpg" width="243" height="350">
                    <div class="cj-link">
                    	<h4>参加要求</h4>
                    	<p>1.具备播音主持基础<br>2.形象气质良好<br>3.口语表达、应变沟通能力强<br>4.有发布会主持经验者优先<br>5.个人资料至少上传 6 张红形象</p>
                    </div>
                    <a class="cj-bm" eid="162" s_3_id="787"  data-target="#be-recruited-modal-bm" data-toggle="hyq-modal" value="主持人"></a> <!-- 主持人 -->
                </div>
                <div class="cj-recruit-1">
               	  <img class="img-link" src="/images/chinaJoy/chinajoy-10.jpg" width="243" height="350">
                    <div class="cj-link">
                    	<h4>参加要求</h4>
                    	<p>1.形象端庄，彬彬有礼，吃苦耐劳<br>2.在上海居住<br>3.英语表达能力强者优先<br>4.个人资料至少上传 6 张红形象</p>
                    </div>
                    <a class="cj-bm" eid="163" s_3_id="896" data-target="#be-recruited-modal-bm" data-toggle="hyq-modal" value="志愿者"></a><!-- 志愿者 -->
                </div>
            </div>
            <img class="cj-tu6" src="/images/chinaJoy/chinajoy-tiltle3.jpg" width="476" height="95">
            <img class="cj-tu5" src="/images/chinaJoy/chinajoy-4.jpg" width="1020" height="363"> 
            <img class="cj-tu4" src="/images/chinaJoy/chinajoy-tiltle4.jpg" width="476" height="95">
        	<img class="cj-tu3" src="/images/chinaJoy/chinajoy-5.jpg" width="1020" height="176">
        </div>
        
        <!--右侧悬浮-->
        <div class="cj-right">
        	<a class="cj-right1" id="profile-letter-a" href="javascript:;"  data-target="#send-message-btn" data-toggle="hyq-modal" userId="100176"></a>
            <!--未收藏-->
            <a class="cj-right2 collect_button" collect_type="recruit" dynamic_id="324"></a>
            <!--已收藏-->
            <!--<a href="javascript:;" class="cj-cs"></a>-->
   	    	<a href="#" class="gotop"></a>
        </div>
        
		
		<!-- tips 框 -->
        <div class="hyq-tip" id="tip-message">
          <i hyq-tip-icon-node></i>
          <label class="hyq-tip-msg-node"></label>
        </div>
		<!--尾部开始-->
      	{include "common/footer-new-sub.html"}
       <!--弹窗-->
            <!--报名-->
            <div class="hyq-modal hyq-modal-default RdBorderTop form-apply-wrap" id="be-recruited-modal-bm" style="background:#fff;">
                      <div class="hyq-modal-header GrayBorderBtm" >
                          <label>&nbsp;<span id="service_name">你报名的服务: showgirl</span></label>
                          <a class="hyq-modal-close-btn" href="javascript:void(null)"></a>
                      </div>
                     
                      <div class="hyq-model-body _clb" >
                        
                          <input type="hidden" class="hyq-nice-checkbox" name='mchoice' value="showgirl"/>
                          <input type="hidden" id="eid" value=""/>
                          <input type="hidden" id="s_3_id" value=""/>
                                   
                          <div class="cl"></div>
                         <p class="contact-p" style="margin-top:5px;">您的联系方式：</p>
                        
                          <ul class="form-apply">
                            <li><label>电话：</label><input type="text" class="mobile_way" name="u_mobile" value="" placeholder="请输入您的电话"> <span class="Rd">*</span></li>
                            <li><label>邮箱：</label><input type="text" class="email_way" name="u_email" value="" placeholder="请输入您的邮箱"></li>
                            <li><label>微信：</label><input type="text" class="weixin_way" name="u_weixin" value="" placeholder="请输入您的微信号"></li>
                            <li><label>QQ：</label><input type="text" class="qq_way" name="u_qq" value="" placeholder="请输入您的QQ"></li>
                            
                          </ul>
                          <p class="reminder-p">请至少填写一种联系方式，以便对方能够联系上您（红演圈不会将你的联系方式给任何人）</p>
                            &nbsp;<input type="button" id="send_btn" class="hyq-btn hyq-btn-default-lg fr" value="确定并发送" />
                                  <input type="hidden" value="" />
                        <div class="hyq-f-err hyq-f-err-pad-left fl" style="display:none">
                           <i class="hyq-ic ic-vlid-err"></i><label>请至少填写一种联系方式!</label>
                        </div>
            
                      </div> 
             </div>
			 
       <!--尾部结束-->
			 <!--报名失败窗口-->
			<div class="hyq-modal hyq-modal-default RdBorderTop txt-center" id="hyq-registration" style="width:360px;">
			  <div class="hyq-modal-header txt-left" ></div>
			  <div class="hyq-modal-body">
				<div><i class="hyq-ic ic-alert-lg"></i></div>
				  <label>对不起，招募已关闭，请稍后再试。</label>
					 
					<br/>
					<br/>
					<input type="button" class="hyq-btn hyq-btn-default-lg hyq-modal-close-trigger" value="知道了" />
			  </div>
			  <br/>
			  <br class="_clb"/>
			  <div class="hyq-modal-footer"></div>
			</div>
		   <!--报名失败窗口过期-->
			<div class="hyq-modal hyq-modal-default RdBorderTop txt-center" id="hyq-registration-end" style="width:360px;">
			  <div class="hyq-modal-header txt-left" ></div>
			  <div class="hyq-modal-body">
				<div><i class="hyq-ic ic-alert-lg"></i></div>
				  <label>对不起，招募已过期。</label>
					 
					<br/>
					<br/>
					<input type="button" class="hyq-btn hyq-btn-default-lg hyq-modal-close-trigger" value="知道了" />
			  </div>
			  <br/>
			  <br class="_clb"/>
			  <div class="hyq-modal-footer"></div>
			</div>
			<!--私信-->
			 <!--发私信窗口-->
			{include "common/home/include_message_box.html"} 
			<!--弹窗结束-->
			<input type="hidden" id="check-status" value="">
			<!-- tips 框 -->
			<div class="hyq-tip" id="tip-message">
			  <i hyq-tip-icon-node></i>
			  <label class="hyq-tip-msg-node"></label>
			</div>
       <script src="/js/jquery-ui.min.js"></script>
		<script src="/js/hyq-placeholder.js"></script>
		<script src="/js/hyq-modal.js"></script>
		<script src="/js/hyq-valid-helper.js"></script>
		<script src="/js/hyq-checkbox-list.js"></script>
		<script src="/js/hyq-dropdown-list.js"></script>
		<script src="/js/hyq-dropdown-button.js"></script>
		<script src="/js/hyq-checkbox.js"></script>
		<script src="/js/hyq-nice-radio.js"></script>
		<script src="/js/tmk-html-import.js"></script>    
		<script src="/js/hyq-extends.js"></script>
		<script src="/js/hyq-tip.js"></script>
		<script src="/js/hyq-tabs.js"></script>
		<script src="/js/hyq-img-cropper.js"></script>
		<script src="/js/hyq-busy-animate.js"></script>
		<script src="/js/hyq-album-datastore.js"></script>
		<script src="/js/hyq-album-manager.js"></script>
		<script src="/js/hyq-album-viewport.js"></script>
		<script src="/js/hyq-role-select.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/hyq-percent-pie.js"></script>
		<script src="/js/hyq-misc.js"></script>
		<script src="/js/hyq-static-album.js"></script>
		<script src="/js/jquery.cookie.js"></script>
		<script src="/js/hyq-pv.js"></script>
		<script src=" http://hm.baidu.com/h.js?1f57999757c6bdd0bba87cfd66fa927f" type="text/javascript"></script>
		<script src="/js/state_code.js"></script>
		{literal}
         <script type="text/javascript">
				//该招募id和 发布招募者id
				var recruit_id = 324;
				var recruit_uid = 100176;
				var e_service_id = '';
				var service_3 = '';
				///////////报名  start/////////////////////////////////////////////////
				$(function(){
					//加载页面就拉取用户联系方式
					$.ajax({
						url:'/home/ajax/ajax_home_apply.php',
						type:'post',
						data:{'action':'get_user_connect_way_and_check_recruit','rid':recruit_id},
						success:function(data){
							var result = eval('('+data+')');
							console.log(result['status']);
							$("input[name='u_mobile']").val(result['mobile']);
							$("input[name='u_email']").val(result['email']);
							$("input[name='u_weixin']").val(result['weixin']);
							$("input[name='u_qq']").val(result['qq']);
							$('#check-status').val(result['status']);
						},
						dataType:'text'
					});
					//单击报名
					var apply_this;
					var cookie_user_type;
					$('.cj-bm').click(function(){
						if( typeof($.cookie('hyq_user_info')) == 'undefined' || $.cookie('hyq_user_info').split('|')[0] < 1 ){
							//alert('没登陆');
							var url = window.location.href;
							location.href="/account/login?url="+url;
						}else{
							var val = $(this).attr('value');
							$('#service_name').html('你报名的服务: '+val);						
							$('.hyq-nice-checkbox').val(val);
							//alert('登陆了');  //该弹窗了 弹什么窗
							cookie_user_type = $.cookie('hyq_user_info').split('|')[1];
							$.ajax({
								url:'/home/ajax/ajax_home_apply.php',
								type:'post',
								data:{'action':'get_user_connect_way_and_check_recruit','rid':recruit_id},
								success:function(data){
									var result = eval('('+data+')');
									console.log(result['status']);
									$("input[name='u_mobile']").val(result['mobile']);
									$("input[name='u_email']").val(result['email']);
									$("input[name='u_weixin']").val(result['weixin']);
									$("input[name='u_qq']").val(result['qq']);
									$('#check-status').val(result['status']);
								},
								dataType:'text'
							});
							var status = $('#check-status').val();
							if(status == 2){   //招募已关闭
								$($(this).attr('data-target')).remove();
								$("#hyq-registration-end").trigger("hyq/modal/show"); 
								return false;
							}else if(status == 3){  //招募已过期
								$($(this).attr('data-target')).remove();
								$("#hyq-registration").trigger("hyq/modal/show"); 
								return false;
							}
							//招募正进行
							apply_this = $(this);
							e_service_id = $(this).attr('eid');
							service_3 = $(this).attr('s_3_id');
						}
					});
					//发送按钮
					$('.hyq-btn-default-lg').click(function(){
						var tthis = $(this);
						var win_name = tthis.parents('.hyq-modal-default');
						//1 获取当前用户的联系方式
						var mobile = tthis.prevAll('ul').find("input[name='u_mobile']").val();
						var email = tthis.prevAll('ul').find("input[name='u_email']").val();
						var weixin = tthis.prevAll('ul').find("input[name='u_weixin']").val();
						var qq = tthis.prevAll('ul').find("input[name='u_qq']").val();
						//alert(mobile);
					
						if(mobile.length == 0 && email.length == 0 && weixin.length == 0 && qq.length == 0){
							tthis.nextAll('.hyq-f-err-pad-left').find('label').text('请至少填写一种联系方式!');
							$('.hyq-f-err-pad-left').css('display','block');
							return false;
						}
						if(mobile.length == 0){
							tthis.nextAll('.hyq-f-err-pad-left').find('label').text('手机号为必填联系方式!');
							$('.hyq-f-err-pad-left').css('display','block');
							return false;
						}
						//当点报名的 e_id  e_3_id
						//var e_service_id = ;
						//var service_3 = ;
						var action = 'user_send_apply';
						//3 发送信息 报名
						$.ajax({
							url:'/home/ajax/ajax_home_apply.php',
							type:'post',
							data:{"action":action,"recruit":recruit_id,'recruit_uid':recruit_uid,"service":e_service_id,"service_3":service_3,"mobile":mobile,"email":email,"weixin":weixin,"qq":qq,"user_type":cookie_user_type},
							success:function(data){
								//alert(data);
								if(data == 1000){
									//alert('OK');
									var tip = $("#tip-message").HYQTip();
									tip.showSuccess('报名成功');
									//报名成功替换 样式
									
									win_name.trigger("hyq/modal/close"); 
								}else if(data == 1375){
									tthis.nextAll('.hyq-f-err-pad-left').find('label').text('请至少填写一种联系方式!');
									tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
								}else if(data == 1374){
									tthis.nextAll('.hyq-f-err-pad-left').find('label').text('请不要重复报名!');
									tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
								}else if(data == 1378){
									tthis.nextAll('.hyq-f-err-pad-left').find('label').text('请至少选择一项服务报名!');
									tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
								}else if(data == 1379){
									tthis.nextAll('.hyq-f-err-pad-left').find('label').text('手机号为必填联系方式!');
									tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
								}else{
									tthis.nextAll('.hyq-f-err-pad-left').find('label').text('网络错误,报名失败!');
									tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
								}
							},
							dataType:'text'
						});
					});
				});
				////////////报名  end////////////////////////////////////////////////
    		 	$(function () {
					//gotop火箭
					$('.gotop').click(function () {
						$("html, body").animate({
						scrollTop: 0}, {
							duration: 500,
							easing: "swing"
						});
						return false;
					});
					 //收藏
					$('.collect_button').each(function(){
						var main = $(this); 
						$(this).click(function(){
							if( typeof($.cookie('hyq_user_info')) == 'undefined' || $.cookie('hyq_user_info').split('|')[0] < 1 ){
								var url = window.location.href;
								location.href="/account/login?url="+url;
								return;
							}   
							if($.cookie('hyq_user_info').split('|')[2].length ==0){             
								location.href="/home/user/card";
								return;
							}               
							$.post("/home/ajax/ajax_home_collect.php",{'action':'add_collect','dynamic_id':$(this).attr('dynamic_id'),'collect_type':$(this).attr('collect_type')},function(data){
								var add_result = eval('('+data+')');
								main.attr("disabled",true);
								var tip = $("#tip-message").HYQTip();
								tip.showSuccess(add_result.desc);
								setTimeout(function (){window.location.reload()}, 1500);
							},'text');
						});
					});
    			});
				//////////////////私信  start////////////////////////////////////////////////////
				//当发送私信的按钮被点中
		        $("#profile-letter-a").click(function(){
					if( typeof($.cookie('hyq_user_info')) == 'undefined' || $.cookie('hyq_user_info').split('|')[0] < 1 ){
						console.log('没登陆');
						var url = window.location.href;
						location.href="/account/login?url="+url;				
					}
					
		            //发送事件让发私信的窗口弹出，同事要把用户ID传过去
					var toUserId = $(this).attr('userId');	  
		            $(document).trigger({
						type:"hyq/iframe/doc/sms",
						//fromUserId:toUserName,//这个ID由PHP判断
						toUserId:toUserId//这个ID由PHP判断
		            });
		        });
				//////////////////私信  end////////////////////////////////////////////////////
         </script> 
        {/literal}
</body>
</html>