<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>模特活动页</title>
		<meta name="description" content="">
		
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/jquery.js"></script>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/model/model.css">
		{literal}
		<script>
		$(document).ready(function(){
			$(window).scroll(function(){
				if ($(window).scrollTop()>30){
					$(".right_bar").fadeIn(500);
				}
				else
				{
					$(".right_bar").fadeOut(500);
				}

			});
		});
		</script>
		{/literal}
	</head>
	<body>
		{include "common/header.html"} 
		{include "common/nav_search.html"}
		<!--banner-->
        <div class="banner"></div>
		<div class="wrap">
			<div class="intro">
				<div class="intro_up">
					<p>无数个与代码博弈的深夜，我们对自己说：“再细一点”</p>
					<p>无数个与像素纠缠的黎明，我们对自己说：“再美一点”</p>
					<p>无数个封装待上线的前夜，我们对自己说：“再改一点”</p>
					<p>不断地让自己再好一点</p>
					<p>只是想给你的便利再多一点</p>
					<p>终于到了登台亮相的时刻，我们对自己说：“福利，再狠一点”</p>
				</div>
				<div class="intro_sec">
					<p>请容许我们介绍下自己  —  <span>我们是红演圈</span>，</p>
					<p>专业的文体演艺服务贸易平台。简单地说，就是你可以在这里展示自己、推广自己、经营自己，在这里发现招募、报名</p>
					<p>招募，接收你之前接触不到的海量文体演艺招募信息，给你充分展现自己的各种舞台。</p>
				</div>
			</div>
			<div class="join">
				<div class="join_img">
					<a  data-target="#be-recruited-modal-bm" data-toggle="hyq-modal" value="模特卡" id ="model-checked" class="cj-bm"></a>
				</div>
				<div class="join_intro">
					<div class="join_intro_up">
						<p>是的，只有狠福利，才能配得上过去这段时间对自己的狠劲儿</p>
						<p>于是，我们着手准备了这份上线大礼</p>
						<p>我们决定</p>
					</div>
					<div class="join_intro_se">
						<p>只要是咱的注册用户，<span>点击左侧“我要拍！”</span>报名按钮</p>
						<p>就可获得一次免费拍模特卡的特权</p>
						<p>有效期一整年！</p>
					</div>
					
				</div>
			</div>
			<div class="info">
				<p class="model_title">欲知详情如何？请见下表分解：</p>
				<div class="info_box">
					<ul class="list_title">
						<li class="list_1">原价</li>
						<li class="list_2">现价</li>
						<li class="list_3">内容</li>
						<li class="list_4">条件</li>
					</ul>
					<ul class="list_content">
						<li class="list_1">688</li>
						<li class="list_2">0</li>
						<li class="list_3">
							<p class="list_first">1-2个造型（化妆）；</p>
							<p>1-3套衣服</p>
							<p>精修6张照片；</p>
						</li>
						<li class="list_4">
							<p class="list_first">到店出示个人资料</p>
							<p>完善50%以上的截图照片</p>
						</li>
					</ul>
				</div>
				<p class="gray">活动时限：2015年4月15日~2016年4月15日</p>
				<p class="gray">支持机构：红演圈（北京）网络科技有限公司、私人定制摄影工作室</p>
				<p class="model_title red">您务必知道的3件事儿：</p>
				<p>1、红演圈账号请务必绑定手机。</p>
				<p>2、提前预约：为保障拍照质量，摄影师需要控制每日的服务人数，因此请务必提前3天预定拍摄档期，否则摄影工作室可能会另行安排您的拍照时间。</p>
				<p>3、工作室提供既定套餐内模卡及精修照片等资料电子版，除此以外，顾客如需更多精修照片或其他资源则需自理费用给摄影工作室，与红演圈不产生关系。</p>
				<div class="show_map">
					<img src="/images/model/map.jpg"/>
				</div>
				<p>地址：北京市丰台区三环新城8号院14号楼25号底商（10号线丰台站，步行500米即到）</p>
				<p>电话：报名后，私信索要</p>
				<img src="/images/model/show_work.png" class="show_work"/>
				<p>私人定制摄影工作室，靠近丰台地铁站，走几步就到，懒人的福利有木有~</p>
				<p>环境优雅、布景丰富、配饰齐全、服务周到，很美很温馨有木有~</p>
				<div class="show_company">
					<img src="/images/model/show_img1.jpg"/>
				</div>
				<div class="show_intro">
					<img src="/images/model/show_img2.jpg"/>
				</div>
				<div class="show_model">
					<img src="/images/model/show_img3.jpg" class="show_model_first"/>
					<img src="/images/model/show_img4.jpg"/>
				</div>
			</div>
		</div>	
		<div class="right_bar">
			<a href="javascript:;" class="sixin" id="profile-letter-a"  data-target="#send-message-btn" data-toggle="hyq-modal" userId="100204"></a>
            <!--未收藏-->
			<a href="javascript:;" class="shoucang collect_button" collect_type="recruit" dynamic_id="356"></a>
             <!--已收藏-->
            <!--<a href="javascript:;" class="yishoucang"></a>-->
			<a href="javascript:;" class="weixin"></a>
			<a href="#" class="gotop"></a>
		</div>
		
        
        <!--弹窗-->
		<!--报名-->
		<div class="hyq-modal hyq-modal-default RdBorderTop form-apply-wrap" id="be-recruited-modal-bm" style="background:#fff;">
				  <div class="hyq-modal-header GrayBorderBtm" >
					  <label>&nbsp;<span id="service_name">你报名的服务: showgirl</span></label>
					  <a class="hyq-modal-close-btn" href="javascript:void(null)"></a>
				  </div>
				 
				  <div class="hyq-model-body _clb" >
					
					  <input type="checkbox" class="hyq-nice-checkbox" name='mchoice' value="showgirl"/>
						<input type="hidden" id="check-status" value="">	   
					  <div class="cl"></div>
					 <p class="contact-p" style="margin-top:5px;">您的联系方式：</p>
					
					  <ul class="form-apply">
						<li><label>电话：</label><input type="text" class="mobile_way" name="u_mobile" value="" placeholder="请输入您的电话"> <span class="Rd">*</span></li>
						<li><label>邮箱：</label><input type="text" class="email_way" name="u_email" value="" placeholder="请输入您的邮箱"></li>
						<li><label>微信：</label><input type="text" class="weixin_way" name="u_weixin" value="" placeholder="请输入您的微信号"></li>
						<li><label>QQ：</label><input type="text" class="qq_way" name="u_qq" value="" placeholder="请输入您的QQ"></li>
						
					  </ul>
					  <p class="reminder-p">请至少填写一种联系方式，以便对方能够联系上您（红演圈不会将你的联系方式给任何人）</p>
						&nbsp;<input id="send-apply" type="button" class="hyq-btn hyq-btn-default-lg fr" value="确定并发送" />
							 
					<div class="hyq-f-err hyq-f-err-pad-left fl" style="display:none">
					   <i class="hyq-ic ic-vlid-err"></i><label>请至少填写一种联系方式!</label>
					</div>
		
				  </div>                        
		</div>
        <!--尾部开始-->
	 <!--报名失败窗口-->
			<div class="hyq-modal hyq-modal-default RdBorderTop txt-center" id="hyq-registration" style="width:360px;">
			  <div class="hyq-modal-header txt-left" ></div>
			  <div class="hyq-modal-body">
				<div><i class="hyq-ic ic-alert-lg"></i></div>
				  <label>对不起，招募已关闭，请稍后再试。</label>
					 
					<br/>
					<br/>
					<input type="button" class="hyq-btn hyq-btn-default-lg hyq-modal-close-trigger" value="知道了" />
			  </div>
			  <br/>
			  <br class="_clb"/>
			  <div class="hyq-modal-footer"></div>
			</div>
		   <!--报名失败窗口过期-->
			<div class="hyq-modal hyq-modal-default RdBorderTop txt-center" id="hyq-registration-end" style="width:360px;">
			  <div class="hyq-modal-header txt-left" ></div>
			  <div class="hyq-modal-body">
				<div><i class="hyq-ic ic-alert-lg"></i></div>
				  <label>对不起，招募已过期。</label>
					 
					<br/>
					<br/>
					<input type="button" class="hyq-btn hyq-btn-default-lg hyq-modal-close-trigger" value="知道了" />
			  </div>
			  <br/>
			  <br class="_clb"/>
			  <div class="hyq-modal-footer"></div>
			</div>		
        <!--发私信窗口-->
            {include "common/home/include_message_box.html"} 
        <!-- tips 框 -->
        <div class="hyq-tip" id="tip-message">
          <i hyq-tip-icon-node></i>
          <label class="hyq-tip-msg-node"></label>
        </div>
      	{include "common/footer-new-sub.html"}
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/hyq-placeholder.js"></script>
		<script src="/js/hyq-modal.js"></script>
		<script src="/js/hyq-valid-helper.js"></script>
		<script src="/js/hyq-checkbox-list.js"></script>
		<script src="/js/hyq-dropdown-list.js"></script>
		<script src="/js/hyq-dropdown-button.js"></script>
		<script src="/js/hyq-checkbox.js"></script>
		<script src="/js/hyq-nice-radio.js"></script> 
		<script src="/js/hyq-extends.js"></script>
		<script src="/js/hyq-tip.js"></script>
		<script src="/js/hyq-tabs.js"></script>
		<script src="/js/hyq-img-cropper.js"></script>
		<script src="/js/hyq-busy-animate.js"></script>
		<script src="/js/hyq-album-datastore.js"></script>
		<script src="/js/hyq-album-manager.js"></script>
		<script src="/js/hyq-album-viewport.js"></script>
		<script src="/js/hyq-role-select.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/hyq-percent-pie.js"></script>
		<script src="/js/hyq-misc.js"></script>
		<script src="/js/hyq-static-album.js"></script>
		<script src="/js/jquery.cookie.js"></script>
		<script src="/js/hyq-pv.js"></script><script src=" http://hm.baidu.com/h.js?1f57999757c6bdd0bba87cfd66fa927f" type="text/javascript"></script>
		<script src="/js/state_code.js"></script>
		{literal}
        <script>
		//该招募id和 发布招募者id
			var recruit_id = 356;
			var recruit_uid = 100204;
			var e_service_id = 176;
			var service_3 = 835;
			//console.info($.cookie('hyq_user_info'));
		$(function () {
			var apply_this;
			var cookie_user_type;
			$('.cj-bm').click(function () {	//模特卡按钮点击事件
				var val = $(this).attr('value');
				$('#service_name').html('你报名的服务: '+val);						
				$('.hyq-nice-checkbox').val(val);
                if($.cookie('hyq_user_info').split('|')[2].length ==0){             
                    location.href="/home/user/card";
                    return;
                }   
				cookie_user_type = $.cookie('hyq_user_info').split('|')[1];
				$.ajax({
					url:'/home/ajax/ajax_home_apply.php',
					type:'post',
					data:{'action':'get_user_connect_way_and_check_recruit','rid':recruit_id},
					success:function(data){
						var result = eval('('+data+')');
						console.log(result['status']);
						$("input[name='u_mobile']").val(result['mobile']);
						$("input[name='u_email']").val(result['email']);
						$("input[name='u_weixin']").val(result['weixin']);
						$("input[name='u_qq']").val(result['qq']);
						$('#check-status').val(result['status']);
					},
					dataType:'text'
				});	
				var status = $('#check-status').val();
				if(status == 2){   //招募已关闭
					$($(this).attr('data-target')).remove();
					$("#hyq-registration-end").trigger("hyq/modal/show"); 
					return false;
				}else if(status == 3){  //招募已过期
					$($(this).attr('data-target')).remove();
					$("#hyq-registration").trigger("hyq/modal/show"); 
					return false;
				}
				//招募正进行
				apply_this = $(this);
			});	
			
			$('.cj-bm').mousedown(function () {		//模特卡按钮点击事件
				if(typeof($.cookie('hyq_user_info')) == 'undefined' ){
					var url = window.location.href;
					location.href="/account/login?url="+url;					
				}else {
					$(this).addClass('imgClick');
				}
			});
			
			$('.cj-bm').mouseup(function () {
				$(this).removeClass('imgClick');
			});
			
			$('.gotop').click(function () {
				 $("html, body").animate({
            scrollTop: 0}, {
				duration: 500,
				easing: "swing"
			});
        return false;
			});
			//发送按钮///////////////////////////////////////////
			$('.hyq-btn-default-lg').click(function(){
				var tthis = $(this);
				var win_name = tthis.parents('.hyq-modal-default');
				//1 获取当前用户的联系方式
				var mobile = tthis.prevAll('ul').find("input[name='u_mobile']").val();
				var email = tthis.prevAll('ul').find("input[name='u_email']").val();
				var weixin = tthis.prevAll('ul').find("input[name='u_weixin']").val();
				var qq = tthis.prevAll('ul').find("input[name='u_qq']").val();
				//alert(mobile);
			
				if(mobile.length == 0 && email.length == 0 && weixin.length == 0 && qq.length == 0){
					tthis.nextAll('.hyq-f-err-pad-left').find('label').text('请至少填写一种联系方式!');
					$('.hyq-f-err-pad-left').css('display','block');
					return false;
				}
				if(mobile.length == 0){
					tthis.nextAll('.hyq-f-err-pad-left').find('label').text('手机号为必填联系方式!');
					$('.hyq-f-err-pad-left').css('display','block');
					return false;
				}
				//当点报名的 e_id  e_3_id

				var action = 'user_send_apply';
				//3 发送信息 报名
				$.ajax({
					url:'/home/ajax/ajax_home_apply.php',
					type:'post',
					data:{"action":action,"recruit":recruit_id,'recruit_uid':recruit_uid,"service":e_service_id,"service_3":service_3,"mobile":mobile,"email":email,"weixin":weixin,"qq":qq,"user_type":cookie_user_type},
					success:function(data){
						//alert(data);
						if(data == 1000){
							//alert('OK');
							var tip = $("#tip-message").HYQTip();
							tip.showSuccess('报名成功');
							//报名成功替换 样式
							
							win_name.trigger("hyq/modal/close"); 
						}else if(data == 1375){
							tthis.nextAll('.hyq-f-err-pad-left').find('label').text('请至少填写一种联系方式!');
							tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
						}else if(data == 1374){
							tthis.nextAll('.hyq-f-err-pad-left').find('label').text('请不要重复报名!');
							tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
						}else if(data == 1378){
							tthis.nextAll('.hyq-f-err-pad-left').find('label').text('请至少选择一项服务报名!');
							tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
						}else if(data == 1379){
							tthis.nextAll('.hyq-f-err-pad-left').find('label').text('手机号为必填联系方式!');
							tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
						}else{
							tthis.nextAll('.hyq-f-err-pad-left').find('label').text('网络错误,报名失败!');
							tthis.nextAll('.hyq-f-err-pad-left').css('display','block');
						}
					},
					dataType:'text'
				});
			});
			/////////////////////////////////////		
			 //收藏
                $('.collect_button').each(function(){
                    var main = $(this); 
                    $(this).click(function(){
                        if( typeof($.cookie('hyq_user_info')) == 'undefined' || $.cookie('hyq_user_info').split('|')[0] < 1 ){
                            var url = window.location.href;
                            location.href="/account/login?url="+url;
                            return;
                        }   
                        if($.cookie('hyq_user_info').split('|')[2].length ==0){             
                            location.href="/home/user/card";
                            return;
                        }               
                        $.post("/home/ajax/ajax_home_collect.php",{'action':'add_collect','dynamic_id':$(this).attr('dynamic_id'),'collect_type':$(this).attr('collect_type')},function(data){
                            var add_result = eval('('+data+')');
                            main.attr("disabled",true);
                            var tip = $("#tip-message").HYQTip();
                            tip.showSuccess(add_result.desc);
                            setTimeout(function (){window.location.reload()}, 1500);
                        },'text');
                    });
                });
			
			//////////////////私信  start////////////////////////////////////////////////////
                //当发送私信的按钮被点中
                $("#profile-letter-a").click(function(){
                    if( typeof($.cookie('hyq_user_info')) == 'undefined' || $.cookie('hyq_user_info').split('|')[0] < 1 ){
                        console.log('没登陆');
                        var url = window.location.href;
                        location.href="/account/login?url="+url;                
                    }
                    
                    //发送事件让发私信的窗口弹出，同事要把用户ID传过去
                    var toUserId = $(this).attr('userId');    
                    $(document).trigger({
                        type:"hyq/iframe/doc/sms",
                        //fromUserId:toUserName,//这个ID由PHP判断
                        toUserId:toUserId//这个ID由PHP判断
                    });
                });
                //////////////////私信  end////////////////////////////////////////////////////

		});
		</script>
		{/literal}
	</body>
</html>