 <div class="hyq-modal private-letter-wrap bgGray2 RdBorderTop" id="send-pri-letter-modal">
       <h5 class="letter-top">
               <span>发私信</span> 
               <i class="hyq-ic ic-xbutton-rd hyq-modal-close-btn"></i>
       </h5>    
       <div class="cl"></div>
       <form action="" method="post" onSubmit="">
          
          <div class="form-group">            
               <label  class="form_label">发给：</label>
               <input  name="username"   form-err="a" id="receiver" value="" placeholder="发给谁呢?!" type="text"/>
           </div>
          <div class="form-group">           
               <label class="form_label">内容：</label>
              <textarea placeholder="可选填，5~300字……"  id="content"></textarea>
            </div>
           
          <p class="p-btn"><input type="button" class="hyq-btn hyq-btn-lg" value="&nbsp;发送&nbsp; "></p>
       </form>
   </div>
