<div class="left-col-200">
<div class="right-bar-menu-box">
<div class="lead-title-bar">
   我的资料编辑
</div>
<ul class="gray-menu-group">
  <li class="{if $edit_part eq 'info'} active {/if}"><a class="save-btn-back" href="/home/org/set">基础资料</a></li>
  <li class="{if $edit_part eq 'service'} active {/if}"><a class="save-btn-back" href="/home/org/service/set">红服务</a></li>
  <li class="{if $edit_part eq 'figure'} active {/if}"><a class="save-btn-back" href="/home/org/figure/set">红形象</a></li>
</ul>
</div>
</div>