<div class="hyq-modal hyq-modal-default _hidden _clb" id="img-album-viewport-dialog" role="dialog">
	
	<div class="hyq-album-viewport" id="user-profile-album-viewport">
		<div class="txt-center f12 Gray5">按空格键退出</div>
		<div class="viewport-inner">
			<div class="view-box">
			<i class="go-prev"></i>
			<i class="go-next"></i>
				<div class="photo-wrapper">
					  <img src="http://icon.hotyq.com/v2/img-spacer.png" />
				</div>
			</div>
			<div class="thumb-box">
				<ul class="thumb-wrapper">
					<li class="thumb-item" alt="点击查看大图" title="点击查看大图">
						<div class="image-box"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item" alt="点击查看大图" title="点击查看大图">
						<div class="image-box"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item" alt="点击查看大图" title="点击查看大图">
						<div class="image-box"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item" alt="点击查看大图" title="点击查看大图">
						<div class="image-box"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item" alt="点击查看大图" title="点击查看大图">
						<div class="image-box"></div>
						<div class="no-image-box"></div>
					</li>
					<li class="thumb-item" alt="点击查看大图" title="点击查看大图">
						<div class="image-box"></div>
						<div class="no-image-box"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>