 
<div class="column-wrapper album-column ">


	<!--页面载入的时候只需要做两种判断 如果相册是空的 则是选择 album-first-edit 如果是非空的则选择 album-review-->
	<!--使用三个Class来控制显示  album-first-edit album-edit album-review -->
	{if $album_list eq "[null,null,null,null,null,null]"}
	<div class="album-manager column-wrapper album-first-edit">
	{else}
	<div class="album-manager column-wrapper album-review">
	{/if}
		<!-- <div class="album-manager column-wrapper album-review  RdBorderBtm 相册不空用这句"> -->
		<!-- <div class="album-manager column-wrapper album-first-edit  RdBorderBtm 相册为空用这句"> -->

		<div class="row album-lead">
			<div class="lead-title">
				<i class="hyq-ic ic-label-mark"></i>
				<label class="f18 Blak2">红照片<small class="Gray8"> (多上传机构艺人、作品、形象主题照片，增强吸引力)</small></label>
				<a class="profile-expend-btn inline-block pull-right" data-trigger-action="hide" data-toggle="hyq-slidedown-content" data-target="#red-gallery-edit-panel" alt="点击添加红照片" title="点击添加红照片"></a>
				<a class="profile-edit-btn inline-block pull-right" id="album_edit_btn" alt="点击编辑红照片" title="点击编辑红照片"></a>
			</div>
		</div>

		<div class="row album-box" role="hyq-slidedown-content" id="red-gallery-edit-panel">
			<div class="poster-album">
				<ul class="album-wrapper">

					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<!--<i class="fa fa-file-photo-o"></i> 设为封面-->
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box" alt="点击查看大图" title="点击查看大图">
							<!--<img src="http://icon.hotyq.com/v2/photo.jpg" photo-id="1">-->
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>

					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<!--<i class="fa fa-file-photo-o"></i> 设为封面-->
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box" alt="点击查看大图" title="点击查看大图">
							<!--<img src="http://icon.hotyq.com/v2/photo.jpg" photo-id="1">-->
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>

					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<!--<i class="fa fa-file-photo-o"></i> 设为封面-->
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box" alt="点击查看大图" title="点击查看大图">
							<!--<img src="http://icon.hotyq.com/v2/photo.jpg" photo-id="1">-->
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>


					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<!--<i class="fa fa-file-photo-o"></i> 设为封面-->
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box" alt="点击查看大图" title="点击查看大图">
							<!--<img src="http://icon.hotyq.com/v2/photo.jpg" photo-id="1">-->
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>


					<li class="album-item ">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<!--<i class="fa fa-file-photo-o"></i> 设为封面-->
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box" alt="点击查看大图" title="点击查看大图">
							<!--<img src="http://icon.hotyq.com/v2/photo.jpg" photo-id="1">-->
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>


					<li class="album-item">
						<div class="busy-mask">
								<div class="hyq-busy-animate">
									<span></span><span></span><span></span>
									<span></span><span></span><span></span>
									<span></span>

								</div>
							</div>
						<ul class="album-action-menu">
								<li class="album-action-menuitem">
									<!--<i class="fa fa-file-photo-o"></i> 设为封面-->
								</li>
								<li class="album-action-menuitem">
									<i class="fa fa-trash"></i> 删除照片
								</li>
							</ul>

						<div class="album-uploader">
							<div class="click-mask"></div>
							<div class="invite-btn">
								<span></span>
								<label></label>
							</div>
						</div>

						<div class="album-img-box" alt="点击查看大图" title="点击查看大图">
							<!--<img src="http://icon.hotyq.com/v2/photo.jpg" photo-id="1">-->
							<!--这里一定要制定 photo-id 否则很多功能不能用-->
						</div>
						<div class="album-no-img-box">
						</div>
						<div class="album-item-checkbox"></div>
						<a class="album-action-btn" href="javascript:void(null)"><em></em><i></i> </a>
						
					</li>
					
					 

				</ul>
			</div>

			<div class="btn-group album-btn-box">
				<input type="button" class="hyq-btn hyq-btn-lg exit-edit-btn" value="浏览" />
				&nbsp;&nbsp;
				<span class="Gray8 album-message-box"></span>
				<input type="button" class="hyq-btn hyq-btn-lg hyq-btn-gray pull-right _hidden delete-selected-photo-btn" value="删除选定" style="margin-right:16px;"/>
			</div>
		</div>
	
	</div>
</div>
{literal}
<script type="text/javascript">
	$(window).load(function(){
		/***********************************
         红相册开始
         ************************************/
        
        //初始化的数据===============================  
        /*var _album = [{
            id : "1",
            thumbnail : "http://icon.hotyq.com/v2/photo.jpg",
            photo : "http://icon.hotyq.com/v2/photo.jpg"

        }, {
            id : "2",
            thumbnail : "http://icon.hotyq.com/v2/photo.jpg",
            photo : "http://icon.hotyq.com/v2/photo.jpg"
        },
        null,
        null,
        null,
        null];*/
        //==============================================
{/literal}
	var _album = {$album_list};
{literal}

        $("#album-data-store").HYQAlbumDatastore({
            albumData:_album,///上面电议的原始数据，可以在页面载入的时候用PHP打印
            deleteApi:"/home/ajax/ajax_home_orgprofile.php?action=delete_album_photo",//删除数据的API
            delRequstFieldName:'photo_id_arr',//$_REQUEST获取参数时的KEY 默认是photo_id_arr 可以根据自己的需要修改
        });

        var albumStore = $("#album-data-store").data('ui-HYQAlbumDatastore');
        
         

        var manager = $(".album-manager");
        $('.album-manager').HYQAlbumManager({
            uploadApi : "/home/ajax/ajax_home_userprofile.php?action=upload_album_photo", //是相册上传的API
            fileField : "img", //这个是你希望给你提交上传文件的时候给你传的那个参数名
            albumStore : albumStore
        });

        manager.on('hyq/album_manager/show_photo', function(event) {
            //打开图片浏览器
            console.log("HERE")
            console.log(event.photoId);
            $("#img-album-viewport-dialog").trigger('hyq/modal/show');
            console.log("HERE")
        });

        manager.on("hyq/album_manager/cropper_avatar", function(event) {
            console.log("页面主逻辑街道图像管理器发来截图请求：");
            console.log(event);
            var imgCropperInstance = imgCropper.data('ui-HYQImageCropper');
            $("#img-cropper-dialog").trigger('hyq/modal/show');
            imgCropperInstance.cropWithExistImage(event.imageUrl);
        });
		var managerInstance = manager.data("ui-HYQAlbumManager");
        //开始处理图片查看器
        var viewport = $("#user-profile-album-viewport");
        viewport.HYQAlbumViewport({
            albumStore :albumStore,
            activePos : null,
			manager:managerInstance
        });

        var viewportInstance = viewport.data("ui-HYQAlbumViewport");



        /***********************************
         红相册结束
         ************************************/
	});

</script>
{/literal}
