<style type="text/css">
html{
	width:100%;
	height:100%;
}
body{
     min-height:100%;	
	 }
.foot-empty{ width:100%; height:390px;}
.hyq-ft{ position:absolute; bottom:0px; left:0px; width:100%;}
</style>

<div class="foot-empty cl"></div>
<div class="hyq-ft">
	<div class="hyq-ft-inner">
		<div class="hyq-left">
			<a href="/" class="ft-logo"></a>
			<div class="red-spliter"></div>
			<div class="copy-right">
				<p>红演圈（北京）网络科技有限公司</p>
				<p>
					<a href="javascript:;">京ICP备14045863号-1</a> 
					
				</p>
				<p>
					Copyright &copy; 2014-2015 Hotyq.com All Rights Reserved
				</p>

			</div>
			<div class="red-spliter"></div>
			<!--<div class="f-links">
				<a href="javascript:;">大姨妈</a>
				<a href="javascript:;">新浪微博</a>
				<a href="javascript:;">百度</a>
				<a href="javascript:;">腾讯</a>
				<a href="javascript:;">网易</a>
			</div>-->
            <div class="f-links">
				<span>客服QQ：2284680653</span>&nbsp;&nbsp;
            	<span>Email：kf@hotyq.com</span>	
			</div>
            
		</div>
		<div class="hyq-right">
			<div class="qrcode">
			<dl>
					<dt><img width="100px"  src="http://icon.hotyq.com/v2/qrcode-weixin.jpg!150">
					</dt>
					<dd>
						扫一扫关注<br />红演圈微信
					</dd>
				</dl>

			<dl>
					<dt><img width="100px" src="http://icon.hotyq.com/v2/qrcode-weibo.png!150">
					</dt>
					<dd>
						扫一扫关注<br />红演圈微博
					</dd>
				</dl>

			</div>
			<div class="h-spliter"></div>
			<div class="site-links">
				<a href="/about/">关于红演圈</a>
				<a href="/about/business">招募合作</a>
				<a href="/about/joinus">加入我们</a>
				<a href="/about/agreement">服务条款</a>
				<a href="/about/copyright">版权声明</a>
				<a href="/about/sitemap">网站地图</a>
				<a href="/about/helpcenter">服务答疑</a>
				<a href="/about/privacy">隐私政策</a>
			</div>
		</div>
	</div>
</div>
