            <div class="act-red-topList">
                <div class="List-title-img">
                    <img  src="http://icon.hotyq.com/v2/right-bar/r-reds-top.jpg" width="250" height="80">
                </div>
                 <ul class="hyq-tabs">
                    <li class="hyq-tab active">
                      <a href="#right-week-list"></a>
                      <span>周榜</span>
                    </li>
                    <li class="hyq-tab">
                      <a href="#right-month-list"></a>
                      <span>月榜</span>
                    </li>
                    <li class="hyq-tab">
                      <a href="#right-new-list" ></a>
                      <span class="last">新人榜</span>
                    </li>        
                 </ul>
                <div class="hyq-tab-content" >
                
                <!-- 公共页红人周榜 -->
                {include "html/common_user_week_top_ten.html"}
                <!--公共页红人月榜 -->
                {include "html/common_user_month_top_ten.html"}
                <!-- 公共页红人新人榜 -->
                {include "html/common_user_freshman_top_ten.html"} 
            
                </div>
            </div>
        

