  <!--Andorid 微信-->
<!--             <div class="right-weChat-Andorid">
            	<img  src="http://icon.hotyq.com/v2/right-bar/Andorid-qrcode-108.jpg" width="108" height="108">
            
                <span style="text-align:center">红演圈客户端敬请期待</span>
                <div class="weChat-tag">
                	<i class="hyq-ic ic-andorid-qrcode "></i>
                    <div class="wt-spliter-x-70"></div>
                    <p>Android版</p>
                </div>
            </div>
            <div class="cl"></div>
            
            <div class="right-weChat-iPhone">
            	<img  src="http://icon.hotyq.com/v2/right-bar/Andorid-qrcode-108.jpg" width="108" height="108">
                <span style="text-align:center">红演圈客户端敬请期待</span>
               
                <div class="weChat-tag">
                	<i class="hyq-ic ic-apple-qrcode "></i>
                    <div class="wt-spliter-x-70"></div>
                    <p>iPhone版</p>
                </div>
            </div> -->
			
 <!--手机端未上线微信-->

             <div class="weChat-not">

             	<div class="weChat-l">

                	<h5>红演圈APP</h5>

                    <p>即将上线<br>敬请期待</p>

                </div>

                <div class="weChat-r">

                	<div class="weChat-andorid">

                        <i class="hyq-ic ic-andorid-qrcode "></i>

                        <span>Android版</span>

                	</div>

                    <div class="weChat-apple">

                        <i class="hyq-ic ic-apple-qrcode "></i>

                        <span>iPhone版</span>

                	</div>

                </div>

             </div>			