<div class="column-wrapper">
	<!--<div class='normal-title f18'>
		红演圈的好处?
	</div>
	<div class="gray-spliter"></div>
	<ul class="hyq-order-list f14">
		<li>
			<span class="order">1</span><a href="#">红演圈十大好处</a>
		</li>
		<li>
			<span class="order">2</span><a href="#">红演圈十大好处</a>
		</li>
		<li>
			<span class="order">3</span><a href="#">红演圈十大好处</a>
		</li>
		<li>
			<span class="order">4</span><a href="#">红演圈十大好处</a>
		</li>
		<li>
			<span class="order">5</span><a href="#">红演圈十大好处</a>
		</li>
	</ul>-->
	<!--二维码 ，10大好处（有位置放广告）-->       
	<!--红演圈十大好处Benefits-->
	<!--<div class="hyq-ten-benefits">
		<p class="benefits-title">
			<span class="pull-left">红演圈的好处</span> 
		</p>
		<div class="cl"></div>
		<div class="benefits-list">
			<div class="hot-role-unit-pic bgRd" >
					<a href="javascript:;"></a>
					<span class="hot-role-pic-ab-2">
						<p class="benefits-detail-lg">130多类<br>演艺人才和机构</p>  
					</span>
					<p class="hot-role-pic-ab"></p>
					<p class="benefits-txt">130</p>
			</div>
			<div class="hot-role-unit-pic bgGray6 right" >
					<a href="javascript:;"></a>
					<span class="hot-role-pic-ab-2">
						<p class="benefits-detail">20多类<br>演艺招募</p>  
					</span>
					<p class="hot-role-pic-ab"></p>
					<p class="benefits-txt">20</p>
			</div>
		</div>

	</div>-->

</div>
