<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>{$userinfo['nickname']}的个人主页 - 红演圈</title>
		<meta name="keywords" content="{$userinfo['nickname']}{if $service_arr},{foreach name=service_2 from=$service_arr key=k item=v}{foreach name=service_2_er from=$v key=k0 item=v0}{if k0 neq $smarty.foreach.service_2_er.last }{$v0.service_3_id_name},{else}{$v0.service_3_id_name}{/if}{/foreach}{/foreach},{/if}{if isset($user_role)}{foreach name=list from=$user_role item=v key = key}{if key neq $smarty.foreach.list.last }{$v['name']},{/if}{if key eq $smarty.foreach.list.last}{$v['name']}{/if}{/foreach}{/if}">
		<meta name="description" content="{$userinfo['nickname']} {foreach name=list from=$user_role item=v key = key}{if key neq $smarty.foreach.list.last }{$v['name']},{/if}{if key eq $smarty.foreach.list.last}{$v['name']}{/if}{/foreach},正在红演圈提供{if $service_arr}{foreach name=service_2 from=$service_arr key=k item=v}{foreach name=service_2_er from=$v key=k0 item=v0}{if k0 neq $smarty.foreach.service_2_er.last }{$v0.service_3_id_name}、{else}{$v0.service_3_id_name}{/if}{/foreach}{/foreach}{/if}文化演艺服务,快来看看">
		
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		
		<link rel="stylesheet" href="/css/main.css">
       <script type="text/javascript" src="/js/jquery.js"></script>
	</head>
	<body class="my-reds">
		{include "common/header-new.html"}
    	{include "common/nav_search.html"}
        <!-- 主内容栏开始 -->
		<div class="content-wrapper-index">
        <!-- 主内容栏开始 -->
             <div class="content-left-con">
                <div class="org-info-wrap">
                    <div class="org-info">
                      <img  class="fl" src="{if $userinfo.icon_server_url}{$userinfo.icon_server_url}{$userinfo.icon_path_url}!150{else}http://icon.hotyq.com/v2/default/150x150.png{/if}" width="150" height="150">
                      <div class="org-info-txt">
                          <p class="name-title">
                              <span>{$userinfo['nickname']}</span>
                              <!--男图标-->
								{if $userprofile_info.sex eq 'm'}	
                              <a href="javascript:;"><i class="hyq-ic ic-sex-b-male" style="margin-top:5px;"></i></a>
								{else}                           
                              <a href="javascript:;"><i class="hyq-ic ic-sex-b-female" style="margin-top:5px;"></i></a>
								{/if}
							  <em>&nbsp;|&nbsp;</em>
							  
								
								
                              <a href="javascript:;"><i class="hyq-ic 
							{if $userinfo.identity_card_status eq 'yes'}	
							  ic-pinfo-sm
							{else}
							  ic-pinfo-sm-muted
							{/if}	
							  "></i></a>	
															  
                              <a href="javascript:;"><i class="hyq-ic 
								{if $userinfo.mobile_status eq 'yes'}	
									ic-mobile-sn
								{else}
								  ic-mobile-sn-muted
								{/if}								
							  "></i></a>
                         </p>
                         <div class="cl"></div>
                         <p class="loc-addr">www.hotyq.com/user/{$userinfo['id']}</p>
						 <input type="hidden" id="hide_userinfo_id" value="{$userinfo.id}">
						<!--  <input type="hidden" id="cookie_type" value="user_type"> -->
                         <p class="role-infor">
                             <i class="hyq-ic ic-loc"></i><span class="loc">{$userprofile_info.addrinfo.address}</span>
                         </p>
                         <!--最后一个没有竖线-->
                         <p class="role-infor role-infor2">
                             <i class="hyq-ic ic-person"></i>
                              {foreach name=list from=$user_role item=v key = key}
                                {if $smarty.foreach.list.last }
									<span><label>{$v['name']}</label></span>
									{else}
                                <span><label>{$v['name']}</label><em>&nbsp;|&nbsp;</em></span>
                                {/if}
                              {/foreach}
                         </p>
                         <!--未收藏-->
                         <a class="profile-collect-a collect_button" id="collect_btn" collect_type="user" dynamic_id="{$userinfo['id']}">
                         	<i class="hyq-ic ic-heart-k-wt"></i>收藏
                         </a>
                          <!--已收藏-->
						 <a class="profile-collected-a" id="have_collect_btn" style="display:none;" href="javascript:void(null)"><i class="hyq-ic ic-heart-k-wt"></i>已收藏</a>
                       <!--私信-->
                         <a class="profile-letter-a" id="letter_btn" href="javascript:void(null)" userId="{$userinfo.id}"><i class="hyq-ic ic-email-k-wt"></i>私信</a>
                        <!--邀约-->
                         <a class="profile-invite-a" id="invite_btn" href="javascript:void(null)" userId="{$userinfo.id}" to_uname="{$userinfo['nickname']}"><i class="hyq-ic ic-hands-k-wt"></i>邀约</a>
                         <!--编辑-->
                         <a class="profile-edit-a" id="edit_btn" style="display:none;" href="/home/user/set"><i class="hyq-ic ic-pen-wt"></i>编辑</a>
                       
                      </div>
                      
                      <a class="report-a" id="report_btn" href="/complain/?source_id={$userinfo['id']}&nickname={$userinfo['nickname_r']}&type=user" target="_blank">举报</a>
                      
                       
                   </div>
                </div>	
              
                <div class="col-divide">
           
                </div>
   {if $userprofile_info['age']<1 && $userprofile_info['height']<1 && $userprofile_info['weight']<1 && $userprofile_info['bust'] <1 && $userprofile_info['waist'] <1 && $userprofile_info['hips'] <1 && $userprofile_info['star'] eq '' && $userprofile_info['blood'] eq '' && $userprofile_info.native_addrinfo['address'] eq '' && $userprofile_info['school'] eq '' && $userprofile_info['specialty'] eq '' &&  $userprofile_info['finish_year']<1 && $userprofile_info['degree'] eq '' && $userprofile_info['in_org'] eq ''} 
	{else}
	<div class="detail-text-wrap-2" id="reds-details">
                        
			<!-- 年龄身高体重 -->

              <p>
				<!--年龄-->	
				  {if $userprofile_info['age'] <1}
				  {else}
                  <span>年龄：</span>             
					  {if $userprofile_info['age'] eq {$AGE_RANGE.min}}
					  <strong>{$AGE_OPTION.1}&nbsp;&nbsp;{if $userprofile_info['height']>0 || $userprofile_info['weight']>0}|&nbsp;&nbsp;{/if}</strong>
					  {elseif $userprofile_info['age'] eq {$AGE_RANGE.max}}
					  <strong>{$AGE_OPTION.999}&nbsp;&nbsp;{if $userprofile_info['height']>0 || $userprofile_info['weight']>0}|&nbsp;&nbsp;{/if}</strong>
					  {elseif $userprofile_info['age'] >0}
					  <strong>{$userprofile_info['age']}&nbsp;&nbsp;{if $userprofile_info['height']>0 || $userprofile_info['weight']>0}|&nbsp;&nbsp;{/if}</strong>
						{else}
							{if $userprofile_info['height']>0 || $userprofile_info['weight']>0}
							<strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
							{else}
							{/if}
					  {/if}
					{/if}  
				<!-- 身高	 -->
				 {if $userprofile_info['height'] <1}
				 {else}
                  <span>身高：</span>
                  {if $userprofile_info['height'] eq {$HEIGHT_RANGE.min}}
                  <strong>{$HEIGHT_OPTION.1}&nbsp;&nbsp;{if $userprofile_info['weight'] >0}|&nbsp;&nbsp;{/if}</strong>
                  {elseif $userprofile_info['height'] eq {$HEIGHT_RANGE.max}}
                  <strong>{$HEIGHT_OPTION.999}&nbsp;&nbsp;{if $userprofile_info['weight'] >0}|&nbsp;&nbsp;{/if}</strong>
                  {elseif $userprofile_info['height'] >0}					
                  <strong>{$userprofile_info['height']}&nbsp;&nbsp;{if $userprofile_info['weight'] >0}|&nbsp;&nbsp;{/if}</strong>
					{else}
						{if $userprofile_info['weight'] >0}
						<strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong> 
						{/if}	
                  {/if}
				  {/if}
				  <!-- 体重 -->
				  {if $userprofile_info['weight'] <1}
				  {else}
                  <span>体重：</span>
                
                  {if $userprofile_info['weight'] eq {$WEIGHT_RANGE.min}}
                  <strong>{$WEIGHT_OPTION.1}&nbsp;&nbsp;&nbsp;&nbsp;</strong> 
                  {elseif $userprofile_info['weight'] eq {$WEIGHT_RANGE.max}}
                  <strong>{$WEIGHT_OPTION.999}&nbsp;&nbsp;&nbsp;&nbsp;</strong>  
                  {elseif $userprofile_info['weight'] >0}
                  <strong>{$userprofile_info['weight']}&nbsp;&nbsp;&nbsp;&nbsp;</strong>
					{else}
					<strong>&nbsp;&nbsp;&nbsp;&nbsp;</strong> 
                  {/if}
				 {/if} 
			   </p>
			<!-- 三围省市区 -->
				{if $userprofile_info['bust'] <1 && $userprofile_info['waist'] <1 && $userprofile_info['hips'] >1 && $userprofile_info['star'] eq '' && $userprofile_info['blood'] eq '' && $userprofile_info.native_addrinfo['address'] eq ''}
				{else}	
						<p>
						 {if $userprofile_info['bust'] <1 && $userprofile_info['waist'] <1 && $userprofile_info['hips'] <1}	
						 {else}		
						  <span>三围：</span>
						  <strong>      
							  {if $userprofile_info['bust'] eq {$BUST_RANGE.min}}
								{$BUST_OPTION.1}
							  {elseif $userprofile_info['bust'] eq {$BUST_RANGE.max}} 
								{$BUST_OPTION.999}
							  {elseif $userprofile_info['bust'] >0}  
								{$userprofile_info['bust']}
							  
							  {/if}
							
							  {if $userprofile_info['waist'] eq {$WAIST_RANGE.min}}
								-{$WAIST_OPTION.1}
							  {elseif $userprofile_info['waist'] eq {$WAIST_RANGE.max}} 
								-{$WAIST_OPTION.999}
							  {elseif $userprofile_info['waist'] >0}  
								-{$userprofile_info['waist']}
							  {else}
								-	
							  {/if}     
							
							  {if $userprofile_info['hips'] eq {$HIPS_RANGE.min}}
								-{$HIPS_OPTION.1}
							  {elseif $userprofile_info['hips'] eq {$HIPS_RANGE.max}} 
								-{$HIPS_OPTION.999}
							  {elseif $userprofile_info['hips'] >0}  
								-{$userprofile_info['hips']}
							  {else}
								-				
							  {/if}
								{if $userprofile_info['star'] || $userprofile_info['blood'] || $userprofile_info.native_addrinfo['address']}
									&nbsp;&nbsp;|&nbsp;&nbsp;
								{/if}
						  </strong>
						{/if} 
						{if $userprofile_info['star']}		
						  <span>星座：</span>
						  <strong>{$userprofile_info['star']}
							{if $userprofile_info['blood'] || $userprofile_info.native_addrinfo['address']}
								&nbsp;&nbsp;|&nbsp;&nbsp;
							{/if}
						  </strong>
						{else}
						{/if}	
						{if $userprofile_info['blood']}	
						  <span>血型：</span>
						  <strong>{$userprofile_info['blood']}型
							{if $userprofile_info.native_addrinfo['address']}
								&nbsp;&nbsp;|&nbsp;&nbsp;
							{/if}	
						  </strong>
						{else}
						{/if}
						{if $userprofile_info.native_addrinfo['address']}	
						  <span>籍贯：</span>
						  <strong>{$userprofile_info.native_addrinfo['address']}&nbsp;&nbsp;</strong>{else}
						{/if}
						</p>
				 {/if} 
                
                
                
                {if $userprofile_info['school'] eq '' && $userprofile_info['specialty'] eq ''}
                {else}
                <p>
					{if $userprofile_info['school']}	
                  <span>毕业学校：</span>
                  <strong>{$userprofile_info['school']}
						{if $userprofile_info['specialty']}
						&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
						{/if}
					{else}
					{/if}
					{if $userprofile_info['specialty']}
                  <span>专业：</span>
                  <strong>{$userprofile_info['specialty']}&nbsp;&nbsp;</strong>
					{else}
					{/if}
                </p>  
                {/if}

                <p>
					{if $userprofile_info['finish_year'] >0}
                  <span>毕业年份：</span>
                  <strong>{$userprofile_info['finish_year']}年</strong>
						{if $userprofile_info['degree'] || $userprofile_info['in_org']}	
						<strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
						{/if}
					{/if}
					{if $userprofile_info['degree']}
                 <span>最高学历：</span>
                  <strong>{$userprofile_info['degree']}</strong>
						{if $userprofile_info['in_org']}
							<strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
						{/if}
					{/if}
					{if $userprofile_info['in_org']}
                  <span>所属机构：</span>
                  <strong>{$userprofile_info['in_org']}&nbsp;&nbsp;</strong>
					{/if}
                </p>
   </div>
   {/if}
                <!--他的红服务-->
                <div class="profile-title">
                    <h3>TA的红服务</h3>
                </div> 
				{if $service_arr > 0}
                <div class="redSer-wrap">
                  <div class="redSer-con">
					{foreach name=service_2 from=$service_arr key=k item=v}
                        <p class="service-p">
                            <strong>{$k}</strong><br>
                            <!--最后一个span没有竖线em-->
								{foreach name=service_2_er from=$v key=k0 item=v0}
									<!-- {$smarty.foreach.service_2_er.last} -->
									{if k0 neq $smarty.foreach.service_2_er.last }
									<span><label>{$v0.service_3_id_name}</label><em>|</em></span>
									
									{else}
									<span><label>{$v0.service_3_id_name}</label></span>
									{/if}
                            {/foreach}
                        </p>
					{/foreach}
					</div>
                </div>
				{else}
				矮油！TA还没有选红服务哦！
				{/if}
                <div class="profile-title">
                    <h3>TA的红形象</h3>
                </div> 
                <!--ta的红形象-->
				{if count($album_list) eq 0}
				矮油！TA还没有红形象哦！
				{else}
                 <div class="image-wrap">
                    <div class="image-list">
                        <!--图片-->
                        {foreach $album_list as $v}
							<div class="list-item">
                            <a href="javascript:;" class="window-a">
                                <div class="img-top">
                                    <img data-lazy="{$v.server_url}{$v.path_url}!180"  >
                                </div>
                                <p>{$v.title}</p>
                            </a>
                        </div>
                       {/foreach}
                        <!--视频-->
                       <!--  <div class="list-item">
                            <a href="#" target="_blank">
                                <div class="img-top">
                                    <img src="http://icon.hotyq.com/v3/r-video-list.jpg"  >
                                    <i class="hyq-ic ic-play-o "></i>
                                </div>
                                <p>北京电台飞鱼秀节目主持</p>
                            </a>
                        </div> -->
                    </div>
                  </div>
				  {/if}
                 <!--dialog start-->
                <div class="window-bg">
                </div>
                <div class="window-con">
                       <i class="hyq-ic ic-error-50-rd" id="btn-close"></i>
                       <!--轮播图部分代码开始-->
            		 	 <div class="fullSlide" >
							<div class="bd">
								<div>
									{foreach $album_list as $v}
									<div>
                                     	<img src="{$v.server_url}{$v.path_url}!s800" />
										<p title="{$v.title}" alt="{$v.title}">{$v.title}</p>
									</div>
									{/foreach}
								</div>
							</div>
                          <span class="prev"> </span> <span class="next"> </span>
             		 </div>
                </div>
				<!--dialog end-->
                 <div class="profile-title">
                    <h3>TA发布的招募</h3>
                 </div> 
			{if !$recruit_list}
				矮油！TA还没有发布过招募哦！
			{else}
                <!--发布过招募-->
                <div class="rec-list">
					{foreach $recruit_list as $v}
                    <div class="recruit-box">
                        <div class="r-content">
                            <a href="/recruit/{$v.id}">
                              <div class="img-box">
                                  <img  data-lazy="{if $v.cover_path_url neq ''}{$v.cover_server_url}{$v.cover_path_url}!f150{else}http://icon.hotyq.com/v3/recruit-cover-photo.png{/if}" title="" alt="">
                              </div>
                              <div class="txt-box">
                                  <h3 title="" alt="">{$v.name}</h3>
                                  <p class="service-con">
										{foreach $v.recruit_service_list as $v0}
										<span>{$v0.service_2_name}</span>
										{/foreach}
                                  </p>
                                  <div class="bot-ab">
                                      <em>截止时间</em>
									  {if $v.status eq 2}
										<span class="Rd">已过期</span>
									  {else if $v.status eq 3}
										<span class="Rd">已关闭</span>
									  {else}
										<span>{$v.interview_end_time}</span>
									  {/if}
									  <label>{$v.city_name}</label>
                                  </div>
                              </div>
                            </a>
                            
                        </div>
                   </div>
					{/foreach}
					<div class="cl"></div>
                 <!--招募分页-->
					<div style="" class="cutpage-con">
					
						{if isset($page_list)}
							{if $page_status eq 'true'}
							<div class="cutpage2" >
								{if isset($page_pre_url)}<a href="{$page_pre_url}" class="page-pre">上一页</a>{/if}
								{foreach from=$page_list item=page_info}
									{if $page_info.current == "yes"}
									<span class="current">{$page_info.no}</span>
									{elseif $page_info.position == "begin"}
									<a href="{$page_info.url}" class="page-num"><span>{$page_info.no}</span></a>
									<span >...</span>
									{elseif $page_info.position == "end"}
									<span >...</span>
									<a href="{$page_info.url}" class="page-num"><span>{$page_info.no}</span></a>
									{else}
									<a href="{$page_info.url}" class="page-num"><span>{$page_info.no}</span></a>
									{/if}
								{/foreach}
								{if isset($page_next_url)}<a href="{$page_next_url}" class="page-pre">下一页</a>{/if}
							</div>
							{/if}
						{/if}
					</div>
                </div>
            {/if}    
                
            
           </div>
  			 
        	<div class="detail-right-con fr">
				<!--演艺红人榜-->
                
				<div class="cl"></div>
				 <!--Andorid 微信-->
                {include "html/person_info_right_first.html"}
				<div class="cl"></div>
				{include "html/person_info_right_second.html"}
				<div class="cl"></div>
				{include "html/person_info_right_third.html"}
            </div>
       <!-- 主内容栏结束 -->
       </div>
		
		<input type="hidden" id="has_recruit" value="{$hasRecruit}">
        <!--发私信窗口-->
 		{include "common/home/include_message_box.html"}
		<!--通用发邀约窗口-->
		{include "common/home/include_invite_box.html"}
		
		<!--尾部开始-->
		<!-- tips 框 -->
	    <div class="hyq-tip" id="tip-message">
	      <i hyq-tip-icon-node></i>
	      <label class="hyq-tip-msg-node"></label>
	    </div>
       {include "common/footer-new.html"}
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/hyq-placeholder.js"></script>
		<script src="/js/hyq-modal.js"></script>
		<script src="/js/hyq-valid-helper.js"></script>
		<script src="/js/hyq-checkbox-list.js"></script>
		<script src="/js/hyq-dropdown-list.js"></script>
		<script src="/js/hyq-dropdown-button.js"></script>
		<script src="/js/hyq-checkbox.js"></script>
		<script src="/js/hyq-nice-radio.js"></script>
		<script src="/js/tmk-html-import.js"></script>       
		<script src="/js/hyq-extends.js"></script>
		<script src="/js/hyq-tip.js"></script>
		<script src="/js/hyq-tabs-lr.js"></script>
		<script src="/js/hyq-img-cropper.js"></script>
		<script src="/js/hyq-busy-animate.js"></script>
		<script src="/js/hyq-album-datastore.js"></script>
		<script src="/js/hyq-album-manager.js"></script>
		<script src="/js/hyq-album-viewport.js"></script>
		<script src="/js/hyq-role-select.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/hyq-percent-pie.js"></script>
		<script src="/js/hyq-misc.js"></script>
		<script src="/js/hyq-static-album.js"></script>
		<script src="/js/jquery.cookie.js"></script>
		<script src="/js/hyq-pv.js"></script>
		<script src="/js/state_code.js"></script>	  
		<script type="text/javascript" src="/js/hyq_collected.js"></script>   
		<script src="../../sea.js"></script>
		<script>
			seajs.config({
				base: 'js/dist'
			});
			seajs.use(['hyq/static/page/favourite/info.js']);
		</script>
	</body>
	
</html>